<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sound Machine</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <link href="css/angular-material.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="BtvFiltersEditor">
    <div class="settings">Settings</div>
    <div class="close">Close</div>
    <div class="toolbar grid-visibility">Settings</div>
    <div id="main" class="container-fluid">
     <div class="row">
        <div class="col-xs-12">

            <h1>
                <img src="img/filters_logo.png"/>
                Filters Editor
            </h1>
        </div>
    </div>
    <div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>
      <section layout="row" flex style="height:100%;">
        <div flex="25" class="side-menu">
            <md-list flex>
                <!-- <md-header class="md-no-sticky">Components</md-header> -->
                <md-list-item  class="md-3-line" ng-repeat="item in components">
                  <div class="md-list-item-text components-list-item" ng-if="item.draggable" layout="column" id="{{$index}}" draggable="{{item.draggable}}" ondragstart="return dragStart(event)" layout-align="center center">

                     <img ng-src="{{item.thumb}}" alt="{{item.name}}" class="component-thumb" draggable="false"; />
                     <p>{{ item.name | uppercase}}</p>
                 </div>
                 <div class="md-list-item-text components-list-item non-draggable" ng-if="!item.draggable" onclick="chooseFile()" layout="column" id="{{$index}}" draggable="{{item.draggable}}" ondragstart="return dragStart(event)" layout-align="center center">
                         <img ng-src="{{item.thumb}}" alt="{{item.name}}" class="component-thumb" draggable="false"; />
                     <p>{{ item.name | uppercase}}</p>
                     </label>
                     
                 </div>
                  
             </md-list-item>

         </md-list>
     </div>
     <div flex="2" class="separator"></div>
     <div flex layout="column" style="height:100%;">
        <div flex="80" class="white-bg" id="board" ondragenter="return dragEnter(event)" 
        ondrop="return dragDrop(event)" 
        ondragover="return dragOver(event)">
        <canvas id="c" width="630" height="400"></canvas>
    </div>
    <div flex="20" layout="row" layout-align="end center">
        <md-button class="md-fab md-primary" aria-label="Eat cake" ng-click="showPrompt($event)">
            <md-icon md-svg-src="img/save.svg"></md-icon>
        </md-button>
        <md-button class="md-fab" aria-label="Use Android" ng-click="showConfirm($event)">
          <md-icon md-svg-src="img/delete-button.svg"></md-icon>
      </md-button>
  </div>
</div>
</section>
</div>
</div>
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/angular.min.js"></script>
<script src="js/libs/angular-aria.min.js"></script>
<script src="js/libs/angular-messages.min.js"></script>
<script src="js/libs/angular-animate.min.js"></script>
<script src="js/libs/angular-material.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/AppCtrl.js"></script>
<script src="js/index.js"></script>
<script>
var gridcolor = '#e5e5e5';
    fabric.Object.prototype.set({
        transparentCorners: false,
        borderColor: '#2969B0',
        cornerColor: '#a6bdcc'
    });
    var canvas;
    function readFile(filepath) {
        var bg = fabric.Image.fromURL(filepath, function(img) {
            canvas.setBackgroundImage(img);
            canvas.renderAll();
            });

            
            }
    function chooseFile() {
    console.log("Clicked");
                dialog.showOpenDialog(function (fileNames) {
                    if(fileNames === undefined){
                        console.log("No file selected");
                    }else{
                        
                        readFile(fileNames[0]);
                    }
                }); 
            }
    $( document ).ready(function() {

        
        canvas = new fabric.Canvas('c', { selection: false });
        var grid = 15;

// create grid

for (var i = 0; i < (630 / grid); i++) {
   /* canvas.add(new fabric.Line([ i * grid, 0, i * grid, 630], { stroke: gridcolor, selectable: false }));
    canvas.add(new fabric.Line([ 0, i * grid, 630, i * grid], { stroke: gridcolor, selectable: false }))*/
}

// snap to grid

canvas.on('object:moving', function(options) { 
    options.target.set({
        left: Math.round(options.target.left / grid) * grid,
        top: Math.round(options.target.top / grid) * grid
    });
});

});

var bg = fabric.Image.fromURL('img/blurred_sample2.jpg', function(img) {
            canvas.setBackgroundImage(img);
            canvas.renderAll();
            });
               
function updateImage() {
    console.log($('#imagepicker').val());
    var fReader = new FileReader();
fReader.readAsDataURL($('#imagepicker').files[0]);
fReader.onloadend = function(event){
canvas.setBackgroundImage(event.target.result);
canvas.renderAll();
}
}





function getMousePos(evt) {
        var rect = document.getElementById("board").getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
      };
  }

function dragStart(ev) {
    ev.dataTransfer.effectAllowed='move';
    ev.dataTransfer.setDragImage(ev.target,ev.target.getBoundingClientRect.left/2,ev.target.getBoundingClientRect.top/2);
    ev.dataTransfer.setData("Type", ev.target.id);
    console.log(ev.target.id);
    return true;
}

function dragEnter(ev) {
    console.log("Drag and dropped");
    event.preventDefault();
    return true;
}

function dragOver(ev) {
    return false;
}




function dragDrop(ev) {
    var src = ev.dataTransfer.getData("Type");
    console.log(src);
    var coord = getMousePos(ev);
    ev.stopPropagation();
    console.log("Drag and dropped");
    switch(src) {
        
        case "0":
            var container = new fabric.Rect({  
                width: 90,
                originX:'center',
                originY:'center', 
                height: 119,
                rx: 5,
                ry:5, 
                fill: 'rgba(255,255,255,1)',
                stroke: '#a8a8a8',
                strokeWidth:1,
                centeredRotation: true
            });

            var icon = fabric.Image.fromURL('img/dialog.png', function(img) {
            logo = img.set({ originX:'center',originY:'center',height:50,width:50 });
            var group2 = new fabric.Group([ container,logo],{left:coord.x,top:coord.y});
            canvas.add(group2);
            canvas.setActiveObject(group2);
            });
            break;

        case "1":
            var container = new fabric.Rect({  
                width: 90,
                originX:'center',
                originY:'center', 
                height: 119,
                rx: 5,
                ry:5, 
                fill: 'rgba(255,255,255,1)',
                stroke: '#a8a8a8',
                strokeWidth:1,
                centeredRotation: true
            });

            var icon = fabric.Image.fromURL('img/users.png', function(img) {
            logo = img.set({ originX:'center',originY:'center',height:50,width:50 });
            var group2 = new fabric.Group([ container,logo],{left:coord.x,top:coord.y});
            canvas.add(group2);
            canvas.setActiveObject(group2);
            });
            break;   

        case "2":
            var container = new fabric.Rect({  
                width: 119,
                originX:'center',
                originY:'center', 
                height: 90,
                rx: 5,
                ry:5, 
                fill: 'rgba(255,255,255,1)',
                stroke: '#a8a8a8',
                strokeWidth:1,
                centeredRotation: true
            });

            var icon = fabric.Image.fromURL('img/webcam.png', function(img) {
            logo = img.set({ originX:'center',originY:'center',height:50,width:50 });
            var group2 = new fabric.Group([ container,logo],{left:coord.x,top:coord.y});
            canvas.add(group2);
            canvas.setActiveObject(group2);
            });
            break;

        case "3":
            break;

        case "4":
            break;    

        case "5":
            var container = new fabric.Rect({  
                width: 224,
                originX:'center',
                originY:'center', 
                height: 74,
                rx: 5,
                ry:5, 
                fill: 'rgba(255,255,255,1)',
                stroke: '#a8a8a8',
                strokeWidth:1,
                centeredRotation: true
            });

            var icon = fabric.Image.fromURL('img/ribbon.png', function(img) {
            logo = img.set({ originX:'center',originY:'center',height:70,width:70 });
            var group2 = new fabric.Group([ container,logo],{left:coord.x,top:coord.y});
            canvas.add(group2);
            canvas.setActiveObject(group2);
            });
            break;             
    }
    
    return false;
}



</script>
</body>
</html>
