<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app.title }}</title>
</head>

<body>
<h1>{{ app.title }}</h1>
<form action="app_center_game_edit" method="post">{% csrf_token %}
<table width="300" border="0" cellspacing="0">
  <input value="{{ app.id }}" name="app_center_id" type="hidden" >
  <tr>
    <td>app center game id</td>
    <td>{{ app.id }}</td>
  </tr>
  <tr>
    <td>title</td>
    <td><input value="{{ app.title }}" name="title" ></td>
  </tr>
  <tr>
    <td>platform</td>
    <td>{{ app.platform_name }}</td>
  </tr>
  <tr>
    <td>platform_game_ids</td>
    <td>{{ app.platform_game_ids }}</td>
  </tr>
  <tr>
    <td>type</td>
    <td><input value="{{ app.type }}" name="type" ></td>
  </tr>
  <tr>
    <td>icon_url</td>
    <td><input value="{{ app.icon_url }}" name="icon_url"></td>
  </tr>
  <tr>
    <td>size</td>
    <td>{{ app.size }}</td>
  </tr>
  <tr>
    <td>download_count</td>
    <td>{{ app.download_count }}</td>
  </tr>
  <tr>
    <td>screenshots</td>
    <td>{{ app.screenshots }}</td>
  </tr>
  <tr>
    <td>tags</td>
    <td>{{ app.tags }}</td>
  </tr>
  <tr>
    <td>level</td>
    <td><input value="{{ app.level }}" name="level"></td>
  </tr>
  <tr>
    <td>instruction</td>
    <td><input value="{{ app.instruction }}" name="instruction"></td>
  </tr>
  <tr>
    <td>description</td>
    <td><input type="text" value="{{ app.description }}" name="description"></td>
  </tr>
  <tr>
    <td>status</td>
    <td><input type="text" value="{{ app.status }}" name="status"></td>
  </tr>
  <tr>
    <td>icon_tag_id</td>
    <td><input type="text" value="{{ app.icon_tag_id }}" name="icon_tag_id"></td>
  </tr>
  <tr>
    <td>uptime</td>
    <td>{{ app.uptime }}</td>
  </tr>
</table>
<input type="submit" value="Submit" />
</form>

</body>
</html>