<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app center game</title>
</head>
<style type="text/css">
.box {
	width: 96%;
	margin: 20px auto;
	font-family: "Microsoft YaHei";
}
table td,table th {
	background: #fff;
	padding: 10px
}
.pagination{
    float: right;margin:10px}
</style>
<body>
<h1>app center game</h1>
search:<input type="text" name="query_title" />
<div class="box" >
    <table width="100%"  cellspacing="1" border="0" bgcolor="#666666">
      <tr>
        <th width="10%">id</th>
        <th>title</th>
        <th>platform_game_ids</th>
        <th width="20%">type</th>
        <th>uptime</th>
      </tr>
        {% for app in apps %}
            <tr>
            {# Each "contact" is a Contact model object. #}
            <td>{{ app.id }}</td>
            <td><a href="app_center_game_edit?app_center_id={{ app.id }}">{{ app.title }}</a></td>
            <td>{{ app.platform_game_ids }}</td>
            <td>{{ app.type }}</td>
            <td>{{ app.uptime }}</td>
            </tr>
        {% endfor %}
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if feedbacks.has_previous %}
                <a href="?page={{ apps.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {% for i in page_range %}
                   <a href="?page={{i}}">{{i}}</a>
                {% endfor %}
            </span>


            {% if apps.has_next %}
                <a href="?page={{ apps.next_page_number }}">next</a>
            {% endif %}

            <span class="current">
                Page {{ apps.number }} of {{ apps.paginator.num_pages }}.
            </span>
        </span>
    </div>
</div>
</body>
</html>