<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用中心首页弹窗配置后台</title>
    <script type="text/javascript" src="../../static/js/jquery-1.5.1.min.js"></script>
</head>
<style type="text/css">
*{ margin: 0; padding: 0; font-family: "Microsoft YaHei";}
.wrap{ width: 94%; position: relative; margin: 0 auto;font-size: 16px;}
.center{ text-align: center; font-size: 30px}
.tb2 td,.tb2 th{ height:30px; line-height: 30px; background: #fff; overflow: hidden}
.red{ color: #f00; font-weight: bold}
.gray{ background: #ccc !important;}
.green{ background: #c9f0c0 !important;}
input{ width: 98%; height:30px;line-height: 30px; border: none;outline: none; background: none;margin:0 5px;}
.radio{ width: 20px !important; height: 20px !important; line-height: 30px ; vertical-align: middle}
.tijiao{ width: 100px; height:40px; line-height: 30px; text-align: center; display: block; margin: 30px auto; font-size: 18px; cursor: pointer}
.pop{ width:1080px; height:600px; margin: 20px auto 50px; position: relative; border:1px solid #000  }
.popclose{ position:absolute; cursor:pointer ;}
.pop .popdown,.pop .popdown1,.pop .popdown2,.pop .popout{position:absolute;cursor:pointer ; display:block;}
.popbgpic img,.popclose img,.popdown img,.popdown1 img,.popdown2 img,.popout img{width:100%; height:100%; vertical-align:top}

</style>
<body>
<div class="wrap">
    <br><p class="center">应用中心首页弹窗配置后台</p><br>
    <p class="red">* 区域颜色说明</p><br>
    <table width="300" border="0" class="tb2" cellpadding="1" cellspacing="1" bgcolor="black">
         <tr>
            <td width="200">白色区域</td>
            <td >必填项</td>
        </tr>
        <tr>
            <td class="gray">灰色区域</td>
            <td >不填项</td>
        </tr>
        <tr>
            <td  class="green">绿色区域，没有请置空</td>
            <td >选填项</td>
        </tr>

    </table><br><br>

    <table width="100%" border="0" class="tb2" cellpadding="1" cellspacing="1" bgcolor="black">
      <tr>
        <th width="268">属性\对象</th>
        <th width="263" >第一个按钮</th>
        <th width="308" >第二个按钮</th>
        <th width="308" >第三个按钮</th>
        <th width="377" >关闭按钮（超出背景边距请用负值）</th>
        <th width="373" >背景图片</th>
      </tr>
       <tr>
        <th align="left">图片URL地址</th>
        <td><input type="text" id="btn01_pic"></td>
        <td class="green"><input type="text" id="btn02_pic"></td>
        <td class="green"><input type="text" id="btn03_pic"></td>
        <td><input type="text" id="close_pic"></td>
        <td><input type="text" id="bg_pic"></td>
      </tr>
   <tr>
        <th align="left">宽度（像素）</th>
        <td><input type="text" id="btn01_w"></td>
        <td class="green"><input type="text" id="btn02_w"></td>
        <td class="green"><input type="text" id="btn03_w"></td>
        <td><input type="text" id="close_w"></td>
        <td class="gray"></td>
      </tr>
      <tr>
        <th align="left">高度（像素）</th>
        <td><input type="text" id="btn01_h"></td>
        <td class="green"><input type="text" id="btn02_h"></td>
        <td class="green"><input type="text" id="btn03_h"></td>
        <td><input type="text" id="close_h"></td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">游戏名称（若为跳转链接可不填）</th>
        <td><input type="text" id="btn01_gname"></td>
        <td class="green"><input type="text" id="btn02_gname"></td>
        <td class="green"><input type="text" id="btn03_gname"></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">包名（若为跳转链接可不填）</th>
        <td ><input type="text" id="btn01_gbag"></td>
        <td class="green"><input type="text" id="btn02_gbag"></td>
        <td class="green"><input type="text" id="btn03_gbag"></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">下载地址</th>
        <td><input type="text" id="btn01_gurl"></td>
        <td class="green"><input type="text" id="btn02_gurl"></td>
        <td class="green"><input type="text" id="btn03_gurl"></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">是否为跳转链接（默认为否）</th>
        <td>
            是<input type="radio" name="btn01" value="redirect" class="radio" id="btn01_normal" >&nbsp;&nbsp;&nbsp;&nbsp;
            否<input type="radio" name="btn01" value="normal" id="btn01_redirect" class="radio" >
        </td>
        <td class="green">
            是<input type="radio" name="btn02" value="redirect" id="btn02_normal"  class="radio" >&nbsp;&nbsp;&nbsp;&nbsp;
            否<input type="radio" name="btn02" value="normal"  id="btn02_redirect" class="radio" >
        </td>
        <td class="green"> 是
          <input type="radio" name="btn03" value="redirect" id="btn03_normal"  class="radio" >
          &nbsp;&nbsp;&nbsp;&nbsp;
          否
          <input type="radio" name="btn03" value="normal"  id="btn03_redirect" class="radio" ></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
        <tr>
        <th align="left">跳转链接地址</th>
       <td class="green"><input type="text" id="btn01_redirect_url"></td>
        <td class="green"><input type="text" id="btn02_redirect_url"></td>
        <td class="green"><input type="text" id="btn03_redirect_url"></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
        <tr>
        <th align="left">距离背景图片左边距（像素）</th>
        <td><input type="text" id="btn01_l"></td>
        <td class="green"><input type="text" id="btn02_l"></td>
        <td class="green"><input type="text" id="btn03_l"></td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">距离背景图片上边距（像素）</th>
        <td><input type="text" id="btn01_t"></td>
        <td class="green"><input type="text" id="btn02_t"></td>
        <td class="green"><input type="text" id="btn03_t"></td>
        <td><input type="text" id="close_t"></td>
        <td class="gray">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">距离背景图片右边距（像素）</th>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
        <td class="gray">&nbsp;</td>
        <td><input type="text" id="close_r"></td>
        <td class="gray">&nbsp;</td>
      </tr>
    </table>
    <p><button type="submit" class="tijiao">提交</button> </p>
</div>
<p class="center">预览效果</p>
    <div class="pop">
    </div>
<script >
    var center_url="/bs/pop_window?disable_mc=true&cheat=qq";
    var _html="";
    $.get(center_url,function(data,status){
        $("#bg_pic").val(data.result.pop.big_image_url);
        $("#close_pic").val(data.result.pop.exit_button_icon_url);
        $("#close_w").val(data.result.pop.exit_button_width);
        $("#close_h").val(data.result.pop.exit_button_height);
        $("#close_r").val(data.result.pop.exit_button_margin_right);
        $("#close_t").val(data.result.pop.exit_button_margin_top);
        $("#btn01_pic").val(data.result.pop.button1_icon_url);
        $("#btn01_w").val(data.result.pop.button1_width);
        $("#btn01_h").val(data.result.pop.button1_height);
        $("#btn01_l").val(data.result.pop.button1_margin_left);
        $("#btn01_t").val(data.result.pop.button1_margin_top);
        $("#btn01_gname").val(data.result.pop.button1_app_name);
        $("#btn01_gbag").val(data.result.pop.button1_package_name);
        $("#btn01_gurl").val(data.result.pop.button1_download_url);
        $("#btn01_redirect_url").val(data.result.pop.button1_redirect_url);
        if(data.result.pop.button1_type=="normal"){
            $("input[name='btn01']:eq(1)").attr("checked","checked")
        }else{
            $("input[name='btn01']:eq(0)").attr("checked","checked")
        }
        $("#btn02_pic").val(data.result.pop.button2_icon_url);
        $("#btn02_w").val(data.result.pop.button2_width);
        $("#btn02_h").val(data.result.pop.button2_height);
        $("#btn02_l").val(data.result.pop.button2_margin_left);
        $("#btn02_t").val(data.result.pop.button2_margin_top);
        $("#btn02_gname").val(data.result.pop.button2_app_name);
        $("#btn02_gbag").val(data.result.pop.button2_package_name);
        $("#btn02_gurl").val(data.result.pop.button2_download_url);
        $("#btn02_redirect_url").val(data.result.pop.button2_redirect_url);
        if(data.result.pop.button2_type=="normal"){
            $("input[name='btn02']:eq(1)").attr("checked","checked")
        }else{
            $("input[name='btn02']:eq(0)").attr("checked","checked")
        }
        $("#btn03_pic").val(data.result.pop.button3_icon_url);
        $("#btn03_w").val(data.result.pop.button3_width);
        $("#btn03_h").val(data.result.pop.button3_height);
        $("#btn03_l").val(data.result.pop.button3_margin_left);
        $("#btn03_t").val(data.result.pop.button3_margin_top);
        $("#btn03_gname").val(data.result.pop.button3_app_name);
        $("#btn03_gbag").val(data.result.pop.button3_package_name);
        $("#btn03_gurl").val(data.result.pop.button3_download_url);
        $("#btn03_redirect_url").val(data.result.pop.button3_redirect_url);
        if(data.result.pop.button3_type=="normal"){
            $("input[name='btn03']:eq(1)").attr("checked","checked")
        }else{
            $("input[name='btn03']:eq(0)").attr("checked","checked")
        }
        _html+="<div class='popbgpic'><img src='"+data.result.pop.big_image_url+"'></div>";
        _html+="<a class='popclose' style='top:"+data.result.pop.exit_button_margin_top+"px;right:"+data.result.pop.exit_button_margin_right+"px;width:"+data.result.pop.exit_button_width+"px;height:"+data.result.pop.exit_button_height+"px'><img src='"+data.result.pop.exit_button_icon_url+"'></a>";
        if(data.result.pop.button1_icon_url!="" && data.result.pop.button1_type=="normal"){
            console.log(11);
            _html+="<a class='popdown'   style='top:"+data.result.pop.button1_margin_top+"px;left:"+data.result.pop.button1_margin_left+"px;width:"+data.result.pop.button1_width+"px;height:"+data.result.pop.button1_height+"px'><img src='"+data.result.pop.button1_icon_url+"'></a>";
        }else if(data.result.pop.button1_icon_url!="" && data.result.pop.button1_type=="redirect"){
             console.log(22);
            _html+="<a class='popout' style='top:"+data.result.pop.button1_margin_top+"px;left:"+data.result.pop.button1_margin_left+"px;width:"+data.result.pop.button1_width+"px;height:"+data.result.pop.button1_height+"px'><img src='"+data.result.pop.button1_icon_url+"'  ></a>";
        }
        if(data.result.pop.button2_icon_url!="" && data.result.pop.button2_type=="normal"){
             console.log(33);
            _html+="<a class='popdown'  style='top:"+data.result.pop.button2_margin_top+"px;left:"+data.result.pop.button2_margin_left+"px;width:"+data.result.pop.button2_width+"px;height:"+data.result.pop.button2_height+"px'><img src='"+data.result.pop.button2_icon_url+"'></a>";
        }else if(data.result.pop.button2_icon_url!="" && data.result.pop.button2_type=="redirect"){
             console.log(44);
            _html+="<a class='popout'  style='top:"+data.result.pop.button2_margin_top+"px;left:"+data.result.pop.button2_margin_left+"px;width:"+data.result.pop.button2_width+"px;height:"+data.result.pop.button2_height+"px'><img src='"+data.result.pop.button2_icon_url+"'  ></a>";
        }

        if(data.result.pop.button3_icon_url!="" && data.result.pop.button3_type=="normal"){
             console.log(55);
            _html+="<a class='popdown' style='top:"+data.result.pop.button3_margin_top+"px;left:"+data.result.pop.button3_margin_left+"px;width:"+data.result.pop.button3_width+"px;height:"+data.result.pop.button3_height+"px'><img src='"+data.result.pop.button3_icon_url+"'></a>";
        }else if(data.result.pop.button3_icon_url!="" && data.result.pop.button3_type=="redirect"){
             console.log(66);
            _html+="<a class='popout'   style='top:"+data.result.pop.button3_margin_top+"px;left:"+data.result.pop.button3_margin_left+"px;width:"+data.result.pop.button3_width+"px;height:"+data.result.pop.button3_height+"px'><img src='"+data.result.pop.button3_icon_url+"'></a>";
        }
        $(".pop").append(_html);
        
        $(".tijiao").click(function () {
           // alert($("input:radio[name='btn01']:checked").val()+$("input:radio[name='btn02']:checked").val()+$("input:radio[name='btn03']:checked").val());
            $.post("conf_pop_window",
              {
                    big_image_url:$("#bg_pic").val(),
                    exit_button_icon_url:$("#close_pic").val(),
                    exit_button_width:$("#close_w").val(),
                    exit_button_height:$("#close_h").val(),
                    exit_button_margin_right:$("#close_r").val(),
                    exit_button_margin_top:$("#close_t").val(),
                    button1_icon_url:$("#btn01_pic").val(),
                    button1_width:$("#btn01_w").val(),
                    button1_height: $("#btn01_h").val(),
                    button1_margin_left:$("#btn01_l").val(),
                    button1_margin_top:$("#btn01_t").val(),
                    button1_app_name:$("#btn01_gname").val(),
                    button1_package_name:$("#btn01_gbag").val(),
                    button1_download_url:$("#btn01_gurl").val(),
                    button1_redirect_url:$("#btn02_redirect_url").val(),
                    button1_type:$("input:radio[name='btn01']:checked").val(),
                    button2_icon_url:$("#btn02_pic").val(),
                    button2_width:$("#btn02_w").val(),
                    button2_height:$("#btn02_h").val(),
                    button2_margin_left:$("#btn02_l").val(),
                    button2_margin_top:$("#btn02_t").val(),
                    button2_app_name:$("#btn02_gname").val(),
                    button2_package_name:$("#btn02_gbag").val(),
                    button2_download_url:$("#btn02_gurl").val(),
                    button2_redirect_url:$("#btn01_redirect_url").val(),
                    button2_type:$("input:radio[name='btn02']:checked").val(),
                    button3_icon_url:$("#btn03_pic").val(),
                    button3_width:$("#btn03_w").val(),
                    button3_height:$("#btn03_h").val(),
                    button3_margin_left:$("#btn03_l").val(),
                    button3_margin_top:$("#btn03_t").val(),
                    button3_app_name:$("#btn03_gname").val(),
                    button3_package_name:$("#btn03_gbag").val(),
                    button3_download_url:$("#btn03_gurl").val(),
                    button3_redirect_url:$("#btn03_redirect_url").val(),
                    button3_type:$("input:radio[name='btn03']:checked").val()
              },
              function(data,status){
                if(data=="success"){
                    alert("修改成功");
                     location.reload();
                }else{
                    alert("修改失败");
                    }
              }
          );
        });
    })


</script>
</body>
</html>