<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<style type="text/css">
.box {
	width: 96%;
	margin: 20px auto;
	font-family: "Microsoft YaHei";
}
table td,table th {
	background: #fff;
	padding: 10px
}
.pagination{
    float: right;margin:10px}
</style>

<body>
<h1>意见反馈页面</h1>
<div class="box" >
    <table width="100%"  cellspacing="1" border="0" bgcolor="#666666">
      <tr>
        <th width="10%">邮箱</th>
        <th>问题类型</th>
        <th>问题描述</th>
        <th width="20%">时间</th>
      </tr>

      </tr>
        {% for feedback in feedbacks %}
            <tr>
            {# Each "contact" is a Contact model object. #}
            <td>{{ feedback.email }}</td>
            <td>{{ feedback.type }}</td>
            <td>{{ feedback.content }}</td>
            <td>{{ feedback.create_time }}</td>
            </tr>
        {% endfor %}
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if feedbacks.has_previous %}
                <a href="?page={{ feedbacks.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {% for i in page_range %}
                   <a href="?page={{i}}">{{i}}</a>
                {% endfor %}
            </span>


            {% if feedbacks.has_next %}
                <a href="?page={{ feedbacks.next_page_number }}">next</a>
            {% endif %}


            <span class="current">
                Page {{ feedbacks.number }} of {{ feedbacks.paginator.num_pages }}.
            </span>
        </span>
    </div>
</div>
</body>
</html>