<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bluestacks.cn managment system</title>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="../../static/js/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<style >
.shujubox{  width:1000px; margin:20px auto; font-size: 18px; }
.titlebox{ font-size: 30px;  margin: 20px 0}
.shuju_sec{ margin: 40px 0}
.shuju_sec a{display: inline-block; margin-right: 30px;color:#4579d9 ;text-decoration: underline}
.shuju_sec a:hover{ color:#183b7c }
.shuju_peizhi{ font-size: 24px}
.shuju_btn{ border: 1px solid #4579d9; background: none; outline: none; padding:5px 10px}
.shuju_btn:hover{ background: #4579d9; color: #fff}
</style>
<body>
<div class="shujubox">
    <div class="titlebox">Bulestacks3.0运营管理后台</div>
    <div class="shuju_sec">
        <p class="shuju_peizhi">数据配置:</p>
<a href="app_center_game_manage">游戏管理</a>
<a href="http://app.bluestacks.cn/bs/feedback_content">反馈信息</a>
{#<a href="http://data.bluestacks.cn/data/">统计数据</a>#}

<a href="topic">专题管理</a>
<a href="recommend">榜单推荐</a>
<a href="game9_data_copy">九游游戏数据复制</a>
<a href="manage_rec_install_app">首次安装推荐游戏</a>
<a href="conf_pop_window">弹窗配置</a>
<a href="conf_partner_preinstall_game_info">合作方预装游戏配置</a>

</div>

{#<a href="oss_upload_html">上传客户端包</a>（非专业人士请勿随意使用！！！）#}

 <div class="shuju_sec">
        <p class="shuju_peizhi">刷新缓存:</p>
<a href="http://app.bluestacks.cn/bs/memcached_flush_all">正式环境刷新缓存</a>
<a href="http://101.201.42.93/bs/memcached_flush_all">预发环境刷新缓存</a>
</div>
     <div class="shuju_sec">
        <p class="shuju_peizhi">查看搜索关键词:</p>
<a href="search_key_word">查看搜索关键词</a>
</div>
     <div class="shuju_sec">
        <p class="shuju_peizhi">数据上线步骤:</p>
1、<a href="check_data">数据检测</a><br /><br />
{#<a href="copy_data_2_db?type=backup">正式环境数据备份</a>#}
{#<a href="copy_data_2_db?type=syncdb">预发环境数据同步到正式环境</a>#}

2、<input class=" shuju_btn" type="button" onclick="disp_prompt1()" value="正式环境数据备份" /><br /><br />
3、<input class=" shuju_btn" type="button" onclick="disp_prompt2()" value="预发环境数据同步到正式环境" />
（非专业人士请勿随意使用！！！）<br /><br />

4、<a href="https://portal.mileweb.com/index.html">刷新cdn</a>
</div>
</div>
<script type="text/javascript">
function disp_prompt1(){
    if (confirm("是否确定要备份数据?")){
        window.location.href="copy_data_2_db?type=backup";
    }
}
function disp_prompt2(){
    if (confirm("是否确定要预发环境数据同步到正式环境?")){
        window.location.href="copy_data_2_db?type=syncdb";
    }
}
</script>
</body>

</html>