<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend Edit</title>
</head>
<body>
<h1>榜单推荐编辑：{{ recommend.title }}</h1>
<form action="rec_edit" method="post">
<table width="300" border="0" cellspacing="0">
  <tr>
    <td>recommend id</td>
    <td><input value="{{ recommend.id }}" name="rec_id" readonly> </td>
  </tr>
  <tr>
    <td>recommend title</td>
    <td><input value="{{ recommend.title }}" name="title"></td>
  </tr>
  <tr>
    <td>recommend flag</td>
    <td><input value="{{ recommend.flag }}" name="flag"></td>
  </tr>
  <tr>
    <td>uptime</td>
    <td>{{ topic.uptime }}</td>
  </tr>
</table>
<input type="submit" value="Submit" />
</form>
</body>

</html>