<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend Game</title>
</head>
<style type="text/css">
.hide {
    display: none;
}
.box {
	width: 96%;
	margin: 20px auto;
	font-family: "Microsoft YaHei";
}
table td,table th {
	background: #fff;
	padding: 10px
}
.pagination{
    float: right;margin:10px}
.bigpic{ width: 300px;
    height:100px;}
    .bigpic img{ width: 100%;}
</style>
<body>
<h1>Recommend Game</h1>

<form action="recommend_game_add" method="post">
  {% csrf_token %}
  <input hidden type="hidden" name="rec_id" value="{{ rec_id }}"/>
  <p>app center game id:<input type="text" name="app_center_game_id" value=""/></p>
  <input type="submit" value="增加" />
</form>

    <table width="100%" cellspacing="1" border="0" bgcolor="#666666">
      <tr>
        <th>topic_id</th>
        <th>game_center_id</th>
        <th>game title</th>
        <th width="10%">order</th>
        <th>uptime</th>
        <th>操作 </th>
      </tr>

      </tr>
        {% for data in recommend_games %}
         <tr>
            <td class="rec_id" data_rec_id="{{ rec_id }}">{{ rec_id }}</td>
{#            <td><a href="topic_game?topic_id={{ data.id }}">{{ data.topic_name }}</a></td>#}

            <td class="rec_id2" app_center_game_id="{{ data.id }}">{{ data.id }}</td>
            <td><a href="app_center_game_detail?app_center_id={{ data.id }}">{{ data.title }}</a></td>
            <td><span>{{ data.order }}</span><input class="hide order" type="text" value="{{ data.order }}"  /><button class="edit_button">edit</button><button class="save_button">save</button> </td>

            <td>{{ data.uptime }}</td>
            <td><a onclick="delete_game(this)"> 删除</a></td>
         </tr>
        {% endfor %}
    </table>

<script src="../../static/jquery.min.js"></script>
<script>
function delete_game(obj)
{
    //利用对话框返回的值 （true 或者 false）
    if(confirm("你确信要删除这条信息"))
    {
        console.log($(obj).parent().parent().find(".rec_id").attr("data_rec_id"));
        $.post("recommend_game_delete",
          {
            app_center_game_id:$(obj).parent().parent().find(".rec_id2").attr("app_center_game_id"),
            rec_id:$(obj).parent().parent().find(".rec_id").attr("data_rec_id")
          },
          function(data,status){
//            alert("Data: " + data + "\nStatus: " + status);
            location.reload();
          });
    }
    else{
        //否则说明下了，赫赫
{#      alert("你按了取消，那就是返回false");#}
    }
}

$(".edit_button").click(
        function(){
            $(this).parent().find("span").hide();
            $(this).parent().find("input").show();
        }
)
$(".save_button").click(
        function(){
			var app_center_game_id=$(this).parent().parent().find(".rec_id2").attr("app_center_game_id");
			var rec_id=$(this).parent().parent().find(".rec_id").attr("data_rec_id");
			var order=$(this).parent().parent().find(".order").val();
            $.post(
                    "recommend_game_order_edit",
                    {
                        app_center_game_id:app_center_game_id,
                        rec_id:rec_id,
                        order:order
                    },
              function(data,status) {
                  location.reload();
                  //alert("Data: " + data + "\nStatus: " + status);
              }
            );
        }
)
</script>
</body>
</html>