<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend</title>
</head>
<style type="text/css">
.box {
	width: 96%;
	margin: 20px auto;
	font-family: "Microsoft YaHei";
}
table td,table th {
	background: #fff;
	padding: 10px
}
.pagination{
    float: right;margin:10px}
.bigpic{ width: 300px;
    height:100px;}
    .bigpic img{ width: 100%;}
</style>
<body>
<h1>Recommend</h1>
<form action="recommend_add" method="post">
  {% csrf_token %}
{#  <input hidden type="hidden" name="topic_id" value="{{ topic_id }}"/>#}
  <p>recommend title：<input type="text" name="title" value=""/></p>
  <input type="submit" value="新增" />
</form>

    <table width="100%"  cellspacing="1" border="0" bgcolor="#666666">
      <tr>
        <th>id</th>
        <th>title</th>
        <th>flag</th>
        <th>uptime</th>
        <th>操作</th>
      </tr>

      </tr>
        {% for data in recommend %}
            <tr>
            <td class="rec_id" data_rec_id="{{ data.id }}">{{ data.id }}</td>
            <td><a href="recommend_game?rec_id={{ data.id }}">{{ data.title }}</a></td>
            <td>{{ data.flag }}</td>
            <td>{{ data.uptime }}</td>
            <td><a href="rec_edit?rec_id={{ data.id }}">修改</a> <a onclick="rec_delete(this)">删除</a></td>
            </tr>
        {% endfor %}
    </table>

<script src="../../static/jquery.min.js"></script>
<script>
function rec_delete(obj)
{
    //利用对话框返回的值 （true 或者 false）
    if(confirm("你确信要删除这条信息"))
    {
        console.log($(obj).parent().parent().find(".rec_id").attr("data_rec_id"));
        $.post("rec_delete",
          {
            rec_id:$(obj).parent().parent().find(".rec_id").attr("data_rec_id")
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
              location.reload();
          });
    }
    else{

    }
}

</script>


</body>
</html>