<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>
<style type="text/css">
.box {
	width: 96%;
	margin: 20px auto;
	font-family: "Microsoft YaHei";
}
table td,table th {
	background: #fff;
	padding: 10px
}
.pagination{
    float: right;margin:10px}
.bigpic{ width: 300px;
    height:100px;}
    .bigpic img{ width: 100%;}
</style>
<body>
<h1>{{ name }}</h1>

<form action="topic_add" method="post">
  {% csrf_token %}
{#  <input hidden type="hidden" name="topic_id" value="{{ topic_id }}"/>#}
  <p>topic name：<input type="text" name="topic_name" value=""/></p>
  <input type="submit" value="新增" />
</form>

    <table width="100%"  cellspacing="1" border="0" bgcolor="#666666">
      <tr>
        <th>id</th>
        <th width="10%">topic_name</th>
        <th>type</th>
        <th>flag</th>
        <th>order</th>
        <th>status</th>
        <th>big_image_url</th>
        <th>small_image_url</th>
        <th>uptime</th>
        <th>操作</th>
      </tr>

      </tr>
        {% for data in topic %}
            <tr>
            <td class="topic_id" data_topic_id="{{ data.id }}">{{ data.id }}</td>
            <td><a href="topic_game?topic_id={{ data.id }}">{{ data.topic_name }}</a></td>
            <td>{{ data.type }}</td>
            <td>{{ data.flag }}</td>
            <td>{{ data.order }}</td>
            <td>{{ data.status }}</td>
            <td width="300" height="200" class="bigpic"><a href="{{ data.big_image_url }}" target="view_window"><img src="{{ data.big_image_url }}"  alt="大图" /></a></td>
            <td width="300" height="200" class="bigpic"><a href="{{ data.small_image_url }}" target="view_window"><img src="{{ data.small_image_url }}"  alt="小图" /></a></td>
            <td>{{ data.uptime }}</td>
            <td><a href="topic_edit?topic_id={{ data.id }}">修改</a> <a onclick="topic_delete(this)">删除</a></td>
            </tr>
        {% endfor %}
    </table>


<script src="../../static/jquery.min.js"></script>
<script>
function topic_delete(obj)
{
    //利用对话框返回的值 （true 或者 false）
    if(confirm("你确信要删除这条信息"))
    {
        console.log($(obj).parent().parent().find(".topic_id").attr("data_topic_id"));
        $.post("topic_delete",
          {
            topic_id:$(obj).parent().parent().find(".topic_id").attr("data_topic_id")
          },
          function(data,status){
            location.reload();
          });
    }
    else{
        //否则说明下了，赫赫
{#      alert("你按了取消，那就是返回false");#}
    }
}
</script>

{#function topic_update(obj)#}
{#{#}
{##}
{#        console.log($(obj).parent().parent().find(".topic_id").attr("data_topic_id"));#}
{#        $.post("topic_delete",#}
{#          {#}
{#            topic_id:$(obj).parent().parent().find(".topic_id").attr("data_topic_id")#}
{#          },#}
{#          function(data,status){#}
{#            //alert("Data: " + data + "\nStatus: " + status);#}
{#          });#}
{##}
{#    #}

</body>
</html>