<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Topic Edit</title>
    <script src="../../static/js/jquery-1.11.3.min.js"></script> 

</head>
<body>
<h1>专题编辑：{{ topic.topic_name }}</h1>
<form action="topic_edit" method="post">
<table width="300" border="0" cellspacing="0">
  <tr>
    <td>topic id</td>
    <td><input value="{{ topic.id }}" name="topic_id" readonly> </td>
  </tr>
  <tr>
    <td>topic name</td>
    <td><input value="{{ topic.topic_name }}" name="topic_name"></td>
  </tr>
  <tr>
    <td>flag</td>
    <td><input value="{{ topic.flag }}" name="flag"></td>
  </tr>
  <tr>
    <td>order</td>
    <td><input value="{{ topic.order }}" name="order"></td>
  </tr>
  <tr>
    <td>small_image_url</td>
    <td><input value="{{ topic.small_image_url }}" name="small_image_url"></td>
  </tr>
  <tr>
    <td>big_image_url</td>
    <td><input value="{{ topic.big_image_url }}" name="big_image_url"></td>
  </tr>
<tr>
    <td>status</td>
    <td ><select name="status_name" class="status_name"  >
		<input type="hidden" value="{{ topic.status }}" class="status_name2">
        <script>
		var html;
		if($(".status_name2").val()=="True"){
           html= "<option value='True' selected >True</option><option value='False'>False</option>";
        }else{
           html=" <option value='True' >True</option><option value='False' selected>False</option>";
         }
		$(".status_name").html(html);
        </script>

    </select></td>
  </tr>
  <tr>
    <td>type</td>
    <td><input value="{{ topic.type }}" name="type"></td>
  </tr>
  <tr>
    <td>url</td>
    <td><input value="{{ topic.url }}" name="url"></td>
  </tr>
  <tr>
    <td>渠道包id</td>
    <td><input value="{{ topic.game_libaray_id }}" name="game_libaray_id"></td>
  </tr>
  <tr>
    <td>uptime</td>
    <td>{{ topic.uptime }}</td>
  </tr>
</table>
<input type="submit" value="Submit" />
</form>
</body>

</html>