@charset "utf-8";
*{ margin:0; padding:0;font-family: "Microsoft YaHei", "Simsun", Arial;}
a,a:hover{ text-decoration:none; outline:none; }
textarea{resize:none}
dl,dt,dd,ul,li,ol{list-style:none;}
.clear{ clear:both}
.hide {display: none !important;}
.hide2 {display: none}
.pacity0{ opacity:0;}
.cursorpoint{ cursor:pointer}
.f_left{ float:left}
.f_right{ float:right}
.flexbox {display: -webkit-box;  display: -moz-box; display: -ms-flexbox; -webkit-display: flex;display: flex; }
.colorWhite{ color: #fff;}
.colorGreen{ color: #2eed00;}
.colorBlue{ color: #0089ec;}
.no_margin{ margin-bottom:0 !important }
.text_center{ text-align:center}
.hidden_word{ float:right; opacity:0;}
img{ border:none; outline:none}
/*首页*/
html{background: -webkit-linear-gradient(#0c0f27, #080e30); /* Safari 5.1 - 6.0 */
     background: -o-linear-gradient(#0c0f27, #080e30); /* Opera 11.1 - 12.0 */
     background: -moz-linear-gradient(#0c0f27, #080e30); /* Firefox 3.6 - 15 */
     background: linear-gradient(#0c0f27, #080e30); /* 标准的语法 */}
body{background:#080e30 url(../images/bodybg.jpg) top center no-repeat; position:relative }
.wrap{ width:100%;position: relative;} 
.logowrap{ width:100%; height:56px;  position:fixed; top:0; left:0; line-height:56px;  z-index:500}
.logowrapbg{position:absolute; top:0;left:0; z-index:9;width:100%; height:56px;}
.logowrap .tansparentbg{ position:absolute; top:0;left:0; z-index:1;width:100%; height:56px; background:#99a8cf;filter:alpha(opacity=50);background: rgba(62,69,110,0.9); box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.20);}
.logo{background:url(../images/logo.png) 0 0 repeat-y; width:122px; height:37px; margin:9px 0 0 25px;float:left}
.topnav{ color:#fff; font-size:18px; line-height:56px; margin-left:80px; padding:0 26px; display:inline-block; height:56px;}
.topnav2{ margin-left:0px}
.topnav:hover{background:url(../images/browser_appcenter/xuanzhong_l.png) center bottom no-repeat; color:#008bef;}
.topnav:active{background:url(../images/browser_appcenter/xuanzhong_l.png) center bottom no-repeat; color:#008bef;}
.search_input{ width:172px; height:38px; border:1px solid #008bef;float:right; margin-top:8px; position:relative}
.search_input input{ width:155px; height:29px; line-height:28px; border:none;outline: none; color:#fff; font-size:14px; background:none; margin:0; position:absolute; top:3px;left:10px;}
.search_icon{background:#008bef url(../images/icon_search_nav.png) center center no-repeat; width:90px; height:40px; float:right; margin-top:8px; margin-right:30px; cursor:pointer}
.search_icon:hover{background:#32a9ff url(../images/icon_search_nav.png) center center no-repeat;}
.search_icon:active{background:#34a3f1 url(../images/icon_search_nav.png) center center no-repeat;}
.main_top{ width:1200px; height:10px; margin:56px auto 0;}
.mainbox{position: relative;width:1200px;*top:56px; background:#262d4d; margin:0 auto 24px; padding-bottom:10px;min-height:600px; overflow:hidden}
.navbox{ width:620px; border-bottom: 1px solid #4d5877;height:58px; margin:0 auto ; margin-bottom:20px; }
.nav{ height:54px; width:540px; border-bottom:4px solid #151833;  padding:0 40px; }
.nav a{ float:left ; display:block ; color:#99a9cf; padding:0 45px;*padding:0 42px;font-size:18px; line-height:54px;}
.nav a:hover{background:url(../images/browser_appcenter/xuanzhong_l.png) center bottom no-repeat; color:#008bef;}
.nav a.on{background:url(../images/browser_appcenter/xuanzhong_l.png) center bottom no-repeat; color:#008bef;}
.download_bluestacks{ float:right; margin-right:40px; width:200px; height:40px; display:inline-block; color:#fff; background:#008bef url(../images/download_bluestacks.png) 183px 13px no-repeat; font-size:18px; line-height:40px; padding-left:19px; margin-top:8px;box-shadow: 0px 0px 6px 0px rgba(12,37,125,0.60); }
.download_bluestacks:hover{background:#32a9ff url(../images/download_bluestacks.png) 183px 13px no-repeat;}
.download_bluestacks:active{background:#34a3f1 url(../images/download_bluestacks.png) 183px 13px no-repeat;}
.maincon{ width:1200px; overflow:hidden;}
.home_left{ width:880px; float:left}

.app_kv{width:880px; height:260px; overflow:hidden;  position:relative}
.app_kvshower{ width:880px; height:260px; position:absolute; top:0; left:0; z-index:4}
.app_kvshower li{ position:absolute;width:0;height:0;top:50%;left:50%;z-index:0;cursor:pointer;overflow:hidden; text-align:center;background:#4f5881;}
.app_kvshower li img{ width:100%; height:100%;vertical-align:top;}
.app_kv .prev, .app_kv .next{width:38px; height:69px; position:absolute; top:90px;  z-index:10;  cursor:pointer;display:block}
.app_kv .prev{left:20px;background:url(../images/browser_appcenter/arrow_left.png) 0 0 no-repeat;}
.app_kv .next{right:20px;background:url(../images/browser_appcenter/arrow_right.png) 0 0 no-repeat;}
.app_kv .prevbg, .app_kv .nextbg{position:absolute;top:0;width:190px; height:250px; z-index:5; display:block}
.app_kv .prevbg{left:0;background:-webkit-linear-gradient(-180deg,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.1) 50%)}
.app_kv .nextbg{right:0;background:-webkit-linear-gradient(360deg,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.1) 50%)}
.app_kv_scrumb1{position:absolute; top:10px; left:0; z-index:1;width:460px; height:230px; display:block;background:#4f5881;}
.app_kv_scrumb2{position:absolute; top:0; left:190px; z-index:2;width:500px; height:250px; display:block;background:#4f5881;/}
.app_kv_scrumb3{position:absolute; top:10px; left:420px; z-index:1;width:460px; height:230px;  display:block;background:#4f5881;}

.app_con{margin-bottom:10px;box-shadow: 0 2px 8px rgba(0,0,0,0.20)}
.app_conTitle{ background:#333a61; width:100%; color:#FFF;font-size: 16px; border-top:1px solid #5c668d;height:36px; line-height:36px;}
.app_conTitle .app_titleText{ margin-left:24px; display:inline-block ; float:left; color:#fff}
.app_more{ cursor:pointer; display:inline-block; height:23px; width:45px; padding-left:16px; padding-top:13px }
.more b{ width:6px;height:6px; background:#008bef; display:inline-block; margin-right:6px;  border-radius:50%; float:left;  }
.more:hover b{background:#32a9ff;}
.more:active b{background:#34a3f1;}
.app_conbox{ background:#3e456e; width:100%; color:#FFF; height:208px; position:relative; overflow:hidden}
.app_dlbox{width:100000px; height:208px; position:absolute; }
.app_conbox dl{ width:120px; height:208px; margin:14px 0 14px 14px;  font-size:14px; float:left; position:relative;}
.app_conbox dl dt{width:120px;height:120px; position:relative; cursor:pointer;background:#4f5881}
.app_conbox dl dt img{ width:100%}
.app_conbox dl dd.app_name{width:120px; height:20px; overflow:hidden; line-height:20px; color:#fff; cursor:pointer; margin-top:3px; }
.app_conbox dl dd.app_star{ height:18px; }
.app_conbox dl dd.app_name a{ color:#fff;cursor:pointer}
.app_conbox dl dd.app_type{ overflow:hidden;}
.app_conbox dl dd.app_type span{ font-size: 12px; display:inline-block; background:#283155; line-height:12px;margin-right:6px; color:#fff ; padding:2px 3px; height:13px}
.app_conbox dl .mask_white{ width:120px;height:90px; z-index:10; background:#fff;filter:alpha(opacity=30); opacity:0.3; position:absolute; left:0; top:0; display:none;cursor:pointer}
.app_conbox dl:hover .mask_white,.app_conbox dl:hover .az_btn{ display:block}
.az_btn{ width:120px; height:30px;  background:#000;filter:alpha(opacity=50);background:rgba(0,0,0,0.5); bottom:0; *bottom:-1px; left:0;  position:absolute; z-index:20; color:#fff; font-size:16px; line-height:30px; text-align:center;display:none;}
.app_tag{ position:absolute; left:-5px; top:0; width:68px; height:42px; z-index:99}
.app_tag img{ width:100%; height:100%; position:absolute; top:0; left:0; z-index:1 }
.app_tag span{ position:absolute; top:0; left:0; z-index:2; display:block; padding-top:9px;padding-left:14px; color:#fff; font-size:16px}
.arrow{width:38px; height:69px; position:absolute; z-index:200;  cursor:pointer; display:none}
.arrow_left{background:url(../images/browser_appcenter/arrow_left.png) no-repeat;}
.arrow_right{background:url(../images/browser_appcenter/arrow_right.png) no-repeat;}
.arrow_left1{top:44px; left:20px;}
.arrow_right1{top:44px; right:20px;}
.arrow_left2{top:73px; left:20px;}
.arrow_right2{top:73px; right:20px;}
.arrow_left3{top:58px; left:20px;}
.arrow_right3{top:58px; right:20px;}



.home_right{ border-top:1px solid #5f6a8e; width:310px; height:760px; float:right; background:#3e456e;box-shadow: 0 2px 8px rgba(0,0,0,0.20);margin-bottom:10px;}
.app_bangdan{ width:280px; height:34px; background:#2c3356; border:2px solid #8291b8; border-radius:17px; margin:10px auto 0;box-shadow:0px 2px 0px 0px rgba(0,0,0,0.20); text-align:center;}
.app_bangdan a{color:#99a9cf;font-size: 16px;line-height:30px ; float:left; display:block ; margin-left:30px;  cursor:pointer}
.app_bangdan a:hover{color:#b5c2e1}
.app_bangdan a.on{color:#fff}
.app_listbox{ width:280px; height:680px; margin:0 auto; overflow:hidden}
.app_listbox2{ height:auto;}
.app_listbox dl{ width:280px; height:56px; overflow:hidden; font-size:14px;  color:#fff; position:relative; margin-bottom:12px; word-break:keep-all;white-space:nowrap;}
.app_listbox dl a{ color:#fff}
.app_listbox dl dt{width:56px;height:56px; position:relative; float:left; margin-left:36px; cursor:pointer;background:#4f5881}
.app_listbox dl dt img{ width:100%}
.app_listbox dl dd{ float:left; width:120px; height:16px; overflow:hidden; margin-left:10px;line-height:16px;}
.app_listbox dl dd.app_name{height:20px; color:#fff;cursor:pointer}

.app_listbox dl dd.app_down{ color:#91a1c7; font-size: 12px;}
.app_listbox dl dd.app_type{ height:18px;}
.app_listbox dl dd.app_type span{ font-size: 12px; display:inline-block; background:#283155; padding:0 3px 1px; margin-right:6px;  color:#fff}
.app_listbox dl dd.downloadbtn{ position:absolute; right:4px; top:16px;width:56px; height:26px; background:#008bef;color:#fff;font-size: 14px;line-height:26px ; text-align:center }
.app_listbox dl dd.downloadbtn a{ color:#fff;cursor:pointer;}
.app_listbox dl dd.downloadbtn:hover{  background:#32a9ff;}
.app_listbox dl dd.downloadbtn:active{  background:#34a3f1;}

.nums{width:28px !important; height:17px !important; position:absolute; left:0; top:16px; margin-left:0 !important; }
.nums img{ width:50%; height:100%; float:right}
.list_more{ cursor:pointer; display:inline-block; height:6; width:70px; float:left; padding:5px 0 0 45% }
.list_top{ margin-top:10px;}
.home_zhantibox{ width:1200px; height:246px; }
.app_conbox2{ background:#3e456e; width:1200px; color:#FFF; height:208px; position:relative; overflow:hidden}
.app_divbox2{width:100000px; height:180px; position:absolute; margin:14px 0; }
.app_conbox2 .app_huodong,.topicdetail .app_huodong{ width:360px; height:180px; margin:0 0 0 14px; float:left; position:relative;cursor:pointer; }
.app_conbox2 .app_huodong dt,.topicdetail .app_huodong dt{width:360px; height:180px;overflow:hidden;box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);background:#4f5881}
.app_conbox2 .app_huodong img,.topicdetail .app_huodong img{ width:100%}
.app_conbox2 .app_huodong .mask_white,.topicdetail .app_huodong .mask_white{width:360px; height:180px; z-index:10; background:#fff; opacity:0.3;filter:alpha(opacity=30); position:absolute; left:0; top:0; display:none}
.app_conbox2 .app_huodong:hover .mask_white,.topicdetail .app_huodong:hover .mask_white{ display:block}

.footer{ width:100%;height:98px; background:#141c41; padding-top:22px; font-size:14px; min-width:1200px;*margin-top:90px}
.footer_con{ width:1190px; height:98px; margin:0 auto; color:#3e456e; line-height:26px; padding-left:10px; position:relative}
.footer_con a{ color:#3e456e ; text-indent:0 !important; cursor:pointer}
.footer_con a:hover{color:#B5C2E1}
.footer_con a:active{color:#6C7997}
.footer_con .share{ position:relative}
.footer_con a.bds_weixin{ background:url(../images/wx.png) 0 0 no-repeat ; line-height:26px !important; padding-left:20px !important ; width:24px !important; height:26px !important; display:inline-block;color:#3e456e ; margin:0;*position:absolute; *top:0; *left:750px;}
.footer_con a.bds_weixin:hover{ background:url(../images/wx.png) 0 -30px no-repeat ;color:#B5C2E1 }
.footer_con a.bds_weixin:active{ background:url(../images/wx.png) 0 -60px no-repeat;color:#6C7997 }
.footer_con a.qq{ background:url(../images/qq.png) 0 0 no-repeat ; padding-left:30px; width:32px; height:26px; display:inline-block;*position:absolute; *top:0; *left:930px;}
.footer_con a.qq:hover{ background:url(../images/qq.png) left -30px  no-repeat; }
.footer_con a.qq:active{ background:url(../images/qq.png) left -60px  no-repeat; }
.footer_con a.bds_tsina{ background:url(../images/wb.png) 0 0 no-repeat ;line-height:26px !important; padding-left:13px !important ; width:30px !important; height:26px !important; display:inline-block;color:#3e456e ; margin:0;*position:absolute; *top:0; *left:1070px;}
.footer_con a.bds_tsina:hover{ background:url(../images/wb.png)  0 -30px no-repeat;color:#B5C2E1 }
.footer_con a.bds_tsina:active{ background:url(../images/wb.png)  0 -60px no-repeat;color:#6C7997 }
.gototop{ width:32px; height:40px;background:url(../images/xs_jt.png)  0 0 no-repeat; position:fixed; bottom:50px; right:20px; display:block; cursor:pointer; z-index:100}
.gototop:hover{ background:url(../images/xs_jt.png) -32px 0 no-repeat; }
.gototop:active{ background:url(../images/xs_jt.png) -64px 0 no-repeat; }
#top{ position:absolute; top:0; left:0}
.beian{ background:url(../images/gongan.png) 481px 8px no-repeat ; }
#cnzz_stat_icon_1259999770{ position:absolute; bottom:47px; left:855px; font-size: 14px;}
#cnzz_stat_icon_1259999770 a{color:#3e456e;}
#cnzz_stat_icon_1259999770 a:hover{ color:#B5C2E1}

/*排行榜*/
.applist_title{ width:1200px ;margin:0 auto; color:#fff; font-size: 16px; }
.app_bangdanbox{width:300px;background:#3e456e; margin-left:76px;line-height:34px; float:left ; }
#applist{ width:100% ;height:34px; margin:10px; color:#fff; position:relative;}
.applistcon{background:#3e456e;width:280px; padding:10px; position:relative;}

/*推荐*/
.conbox{ height:225px;}


/*推荐详情*/
.tuijian_bg{background:url(../images/browser_appcenter/tuijian_bg.png) 0 0  repeat  !important;  }
.appgamelist {height: auto; background:none}
.appgamelist dl{ margin:12px 0 12px 12px}
.app_down{color: #99a9cf}
/*专题*/

.topicdetail{ height:auto; width:100%; padding-bottom:30px;}
.topicdetail .app_huodong { margin: 30px 0 0 30px !important;}

/*专题模板*/
.ztlistbox{ width:1200px; height:230px ; margin:0 auto 20px; overflow:hidden}
.ztlistbox img{ width:100%}
.appztlist{ height:auto}
.appztlist dl { height:190px;margin: 12px 0 12px 12px; *height:200px}
.appztlist dl .app_down { color: #91a1c7; font-size:12px;line-height: 12px;}
.appgamedlbox{ width:1200px; margin:0 auto; overflow:hidden; background:#3e456e; }

/*搜索*/
.searchwrap{width:1200px; overflow:hidden; position:relative; height:auto}
.searchbox{width:270px;border:1px solid #30395e; float:left;  background:#30395e; margin:0 0 20px 22px;box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);cursor:pointer;}
.searchbox:hover{border:1px solid #32a9ff;}
.searchbox dl{ width:250px; height:80px;  color:#fff; position:relative;padding:10px; word-break:keep-all;white-space:nowrap; background:#3e456e}
.searchbox dl dt{width:80px;height:80px; position:relative; float:left; background:#4f5881 }
.searchbox dl dt img{ width:100%}
.search_shade{width:80px;height:80px; position:absolute; top:0;left:0; z-index:100;background:url(../images/icon_search-shade.png) 0 0 no-repeat;background-size:100% 100%;}
.searchbox dl dd{ float:left; width:125px;font-size:12px;   overflow:hidden; margin-left:15px;line-height:14px; color:#99a9cf; margin-bottom:5px  }
.searchbox dl dd a{color:#99a9cf;}
.searchbox dl dd.app_name{  height:16px; font-size:14px}
.searchbox dl dd.app_name a{color:#fff !important;}
.searchbox dl dd.downloadbtn{width:70px; height:24px; position:absolute; top:65px; right:10px;}
.searchbox dl dd.downloadbtn a{ display:block; color:#fff;cursor:pointer;width:70px; height:26px; background:#008bef;color:#fff;font-size:14px;line-height:24px ; text-align:center ; box-shadow: 2px 2px 2px rgba(0,0,0,0.3)}
.searchbox dl dd.downloadbtn a:hover{  background:#32a9ff;}
.searchbox dl dd.downloadbtn a:active{  background:#34a3f1;}
.searchbox .search_des{width:250px; height:30px; line-height:30px; color:#6c7997;font-size:12px; padding:0 10px;  margin:0 auto;word-break:keep-all;white-space:nowrap; overflow:hidden }
.grey{ color:#51577c !important}
.grey:hover{ background:none !important; cursor:default !important}
.jzz{ color:#99a9cf; font-size:16px; text-align:center; clear:both; cursor: default; height:20px}

.search_fail{ color:#99a9cf; text-align:center;padding-top:15%; font-size:16px}
.loading{position:absolute; top:250px; left:45%;background:url(../images/loading_v.gif) 0 0 no-repeat; width:134px; height:134px;background-size:80px 80px; z-index:1; display:none;}
.gamebox{ position:relative; z-index:2; width:1200px;}

.hint{ color:#fff; background:#3e456e; padding:0 5px; height:30px; position:absolute; right:200px; top:50px; display:none; font-size:14px; line-height:30px !important; z-index:300; vertical-align:top}
.check_kong2{ position:absolute; background:#151833; color:#fff;   padding:5px 10px;  z-index:1000; font-size: 18px;  top: 335px;left: 480px; overflow:hidden; text-align:center; display:none}
/*游戏详情*/
.appgdetailbox { position:relative;  width:1200px;  margin:0 auto}
.close_popewm{background:url(../images/pop/xiaoganbi.png) no-repeat; background-size:100% 100%; position:absolute; top:20px; right:20px; width:29px; height:29px; cursor:pointer;  z-index:100}
.close_popewm:hover{background:url(../images/pop/xiaoganbi_xuanfudj.png) no-repeat; background-size:100% 100%; }
.gdtitlebox{font-size: 14px; padding:20px; background:#394163;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important; position:relative; width:1160px; z-index:2}
.erweima_pop{ position:absolute; width:470px;height:470px; left:50%;margin-left:-235px; margin-top:-50px;border:1px solid #32a9ff;background:#272c4a;filter:alpha(opacity=90);background:rgba(39, 44, 74, 0.9) ;  text-align:center; display:none; z-index:500}
.p1{ color:#fff;  font-size:20px;  margin-bottom:30px; margin-top:50px;}
.p2{ color:#b5c2e1;  font-size:18px;margin-top:20px;}
.erweima_big{ width:270px; height:270px; margin:0 auto ;z-index:100; background:#fff; padding:10px}
.erweima_big img{ width:100%; height:100%; }
.gdtitle_l{ float:left; position:relative;  height:164px; font-size:16px;}
.gdtitle_l dt{width:164px;height:164px; position:relative;  float:left; margin-right:20px}
.gdtitle_l dt .shade{ width:164px; height:164px; position:absolute; top:0; left:0;background:url(../images/icon_wk2.png) 0 0 no-repeat; z-index:10}
.gdtitle_l dt img{ width:100%}
.gdtitle_l dd{ float:left;font-size:16px; line-height:24px;}
.gdtitle_l .app_name{width:100%; overflow:hidden;  color:#fff; font-size:20px; }
.gdtitle_l .app_name a{ color:#fff}
.gdtitle_l .app_type{ overflow:hidden;}
.gdtitle_l .app_type span{  display:inline-block; background:#283155; padding:0 5px 2px; margin-right:3px; color:#fff }
.gdtitle_l .app_star{  line-height:30px; position:relative ; }
.gdtitle_l .app_down{}
.gdtitle_l .app_down,.gdtitle_l .app_update,.gdtitle_l .app_qudao{color:#99a9cf}
.gdtitle_l .app_update{ margin-bottom:5px; }
.gdtitle_l .app_update span{ margin-right:20px;}
.gdtitle_r{ float:right; position:absolute; top:40px; right:80px; margin-right:20px}
.erweima_xf{ display:none; width:120px; height:120px; border:1px solid #32a9ff; margin-top:40px ; position:absolute;z-index:100; margin-left:25px;padding:3px}
.erweima_xf div{ width:110px; height:110px; background:#fff; padding:5px}
.erweima_xf img{ width:100%; height:100%}
.gdtitle_btn{ width:220px; height:70px; display:block; font-size:30px; transform:skew(-30deg,0) !important; -webkit-transform:skew(-30deg,0) !important; box-shadow: 2px 2px 5px rgba(0,0,0,0.2) !important; line-height:70px; text-align:center; border: none; outline: none; background:#008bef; cursor:pointer; }
.gdtitle_btn b{ display:block; transform:skew(30deg,0) !important; color:#fff !important; font-weight:normal;-webkit-transform:skew(30deg,0) !important; }
.gdtitle_btn:hover{background:#32a9ff;}
.gdtitle_btn:active{background:#34a3f1;}
.erweima{font-size: 18px; color:#fff; background:url(../images/pop/erweima_icon2.png) 0 0 no-repeat ;   padding-left:40px; cursor:pointer; position:absolute; top:82px; left:25px; }
.erweima:hover{ background:url(../images/pop/erweima_xuanfu_icon2.png) 0 0 no-repeat;  color:#b5c2e1}
.erweima:active{ background:url(../images/pop/erweima_dianji_icon2.png)  0 0 no-repeat;   color:#6c7997}
.gdetailtit{ width:520px ;    margin: 20px auto 0;  border-bottom: 4px #070c32 solid;box-shadow: 0 1px 0 #4d5572; overflow: hidden; padding-bottom:10px;}
.gdetailtit a{ padding:0 40px 10px;margin-left:85px; font-size:20px;color: #99a9cf; cursor:pointer}
.gdetailtit a:hover{background:url(../images/browser_appcenter/xuanzhong_l.png) left bottom no-repeat; color:#008bef;background-size:100% auto;}
.gdetailtit a.on{background:url(../images/browser_appcenter/xuanzhong_l.png) left bottom no-repeat; color:#008bef;background-size:100% auto;}

.detailloop{ width:100%; height:520px; margin:20px 0; overflow:hidden; position:relative; background:#1d2240 ;}
.blur{ width:100%; display:block; height:100%; position:absolute; z-index:1; top:0; left:0; opacity:0.5;filter:alpha(opacity=10);opacity:0.1\0;}
.blur img{ width:100%;  height:100%;-webkit-filter: blur(10px);-o-filter: blur(10px);-moz-filter: blur(10px);-ms-filter: blur(10px);filter: blur(10px);}
.detailloop ul{ position:absolute; left:0; top:0; height:480px;  width:10000px; margin:20px 0 ; z-index:10}
.detailloop ul li{ float:left;position:relative; margin-left:20px; height:480px;box-shadow: 3px 3px 3px  rgba(0,0,0,0.3);}
.detailloop ul li img{ height:100%}
.arrow_left4{top:200px; left:40px;background:url(../images/pop/arrow_left2.png) no-repeat;  width:54px; height:95px; position:absolute; z-index:200;  cursor:pointer; display:none}
.arrow_right4{top:200px; right:20px;background:url(../images/pop/arrow_right2.png) no-repeat;width:54px; height:95px; position:absolute; z-index:200;  cursor:pointer; display:none}
.xiaobian_tit{ font-size: 18px; color:#fff; margin:0 30px; line-height:40px;}
.xiaobian_con{font-size: 16px; color:#6c7997; margin: 0 30px;line-height:30px;}
.w1100{ width:1100px; margin-bottom:20px;}
.app_update span{ margin-right:0.15rem}
.qd_name{ color:#fff; float:left}
.qdbox{ float:left; }
.qd_check{}
.qd_check li{ float:left; background:#2d4f7e; border:1px solid #008bef; color:#fff; margin-right:10px; padding:0 3px; cursor:pointer; }
.qd_check li:hover{ background:#1c66a9}
.qd_check li.on{ background:#008bef}
.qd_check b{transform:skew(40deg,0); font-weight:normal;-webkit-transform:skew(40deg,0) ; display:inline-block}
.qd_check .check_arrow{background:url(../images/pop/xljiantou.png) 0 0 no-repeat; background-size:100% 100%; width:0.154166667rem; height:0.0872916667rem; float:right; margin-right:0.05rem;margin-top:0.05rem }
.qd_chose{ width:70%; height:0.19625rem; overflow:hidden}
.qd_list{border:1px solid #32a9ff;  width:0.793333rem; margin-top:0.05rem ;background:rgba(39, 44, 74, 0.7) ; display:none ; position:relative; z-index:100}
.qd_list li{ margin:0.02rem; text-align:center; font-size:0.15rem; padding:0.02rem 0; cursor:pointer}
.qd_list li:hover{color:#fff ;background:url(../images/appcenter/xuanzhong_l.png) left bottom no-repeat; background-size:100% auto;  }
.qd_list li.on{color:#fff ;background:url(../images/appcenter/xuanzhong_l.png) left bottom no-repeat; background-size:100% auto;  }

.appdetail_box{width:100%; overflow:hidden; position:relative; z-index:1}
.pincon{ width:1080px; height:460px; background:#202747; border: 1px solid #818fb3; margin:20px auto; padding-top:20px; position:relative}
.pincon2{width:1080px; margin:0 auto 20px}
.detail_starbox{width:100%; height:40px;margin:10px auto 0;text-align:center}
.detail_star{width:270px; height:40px;  overflow:hidden; margin:0 auto }
.detail_star li{ height:33px; width:33px;background:url(../images/pop/pinglunx.png) 0 0 no-repeat; background-size:100% 100%;margin:0 10px ; float:left; cursor:pointer  }
.detail_star li.on{background:url(../images/pop/pinglunx_xuanz.png) 0 0 no-repeat; background-size:100% 100%;}
.detail_star li.on2{background:url(../images/pop/pinglunx_xuanz.png) 0 0 no-repeat; background-size:100% 100%;}
.tishi{ color:#6c7997; font-size:18px; margin-left:30px;position:absolute; top:33px; left:0;}
.tishi2{ color:#6c7997; font-size:18px; margin-left:30px;position:absolute; top:0; left:0;}
.tishibox{ position:relative}
.detail_bt{ background:#283155; color:#6c7997; width:946px; height:50px; margin:20px auto; border:none; outline:none; font-size:18px; padding:0 10px; display:inline-block;margin-left:86px; line-height:50px;}
.detail_plnr{ background:none; color:#6c7997; width:946px; height:130px; margin:0 auto; border:none; outline:none; font-size:18px; padding:0 10px; display:inline-block;   resize: none; margin-left:86px}
.detail_tj{ width:160px; height:40px;border: none;outline: none;background:none;cursor: pointer;font-size:20px;color: #fff;text-align: center;transform: skew(-35deg,0);-webkit-transform: skew(-35deg,0);border:1px solid #32a9ff; float:left; margin-left:42% ; margin-top:20px}
.detail_tj:hover{border:1px solid #008bef; background:#2a3359}
.detail_tj:active{border:1px solid #32a9ff; background:#222a4b}
.detail_tj b{    display: block;transform: skew(35deg,0);color: #fff ;font-weight: normal;-webkit-transform: skew(35deg,0); height:40px; line-height:32px}
#detailtab1 input::-webkit-input-placeholder,#detailtab1 textarea::-webkit-input-placeholder {color: #4d5878;}
.search_input input::-webkit-input-placeholder{color:#99a9cf}
/*pokemongo专题页面*/
.topic_page{ position:relative; width:10rem; height:5.625rem;background:url(../images/topic/pokemon-go-bg.jpg) 0 0 no-repeat;background-size:100% auto;}
.topicclose{ position:absolute;top:0.1rem; right:0.1rem;background: url(../images/topic/nor_del_03.png);background-size:100% 100%; cursor:pointer ; width:0.359375rem; height:0.359375rem}
.topicdown{position:absolute; top:4.11458rem; left:3.276rem;background: url(../images/topic/nor_pokemongo.png);background-size:100% 100%; cursor:pointer ; width:1.4111458rem; height:0.411458rem}
.topicdown1{position:absolute; top:4.11458rem; left:4.9479rem;background: url(../images/topic/nor_jc.png);background-size:100% 100%; cursor:pointer ; width:1.4111458rem; height:0.411458rem}
.topicdown2{position:absolute; top:4.15rem; left:6.5rem;background: url(../images/topic/nor_vpn.png);background-size:100% 100%; cursor:pointer ; width:1.203125rem; height:0.30729rem}
@media screen and (max-width: 1024px){
.search_input{ width:100px;}
.search_input input{ width:75px;}
.search_icon{ width:50px; margin-right:5px;}
.download_bluestacks{ display:none}
.topnav{ margin-left:0;}
}
@media screen and (min-width: 600px) and (max-width: 1024px){
.search_icon{ margin-right:5px;}
}
@media screen and (max-width: 600px){
.topnav{padding:0 10px}
.search_input{ display:none}
.search_icon{display:none}
}

























