<!-- Footer -->
<div class="footer">
	<div class="row links-container">
		<div class="col-md-12 col-sm-12 no_space">
			<a href="" ng-click="reportProblem()" class="header_button pull-left i18n" label="report_problem">{{locValues.report_problem}}</a>  
			<span class="separator-span">|</span>  
			<a href="http://support.bluestacks.com/hc/en-us/requests/new" class="header_button pull-right i18n" ng-click="askQuestion($event)" label="ask_question">{{locValues.ask_question}}</a>
		</div>

	</div>
</div>