<!-- Support Page content goes here -->

<!-- Header -->
<div class="header" ng-include="'views/header.html'"></div>

<!-- Main Content -->
<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
    <h2 class="animated fadeIn" ng-class="(isDataLoading) ? 'hidden' : ''">{{categoryData.name}}</h2>
  </div>
  <!-- Search Bar -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                    <div class="searchbar_container">
                    <div class="form-group has-feedback">
                        <input type="search" name="search" class="form-control input-lg search_bar i18n" ng-model="searchQuery" ng-change='searchArticles(searchQuery)' label="search_bluestacks_help" placeholder="{{locValues.search_bluestacks_help}}"/>
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                    <div ng-include="'views/searchresults.html'"></div>
                    </div>    
                
            </div>
            <!-- Search Bar End -->
</div>


<div class="section-tree animated fadeIn" ng-class="(isDataLoading) ? 'hidden' : ''" >
  <section class="section section-getting-started">
    <div class="section-header">
      <a href="{{gettingStartedSection.html_url}}" ng-click="linkClicked(gettingStartedSection.title)" title="{{gettingStartedSection.description}}">
        <h3 class="article-title">{{gettingStartedSection.name}}</h3>
      </a> 
    </div>
    <div class="list-container">
      <ul class="articles-list">
        <li ng-repeat="section in gettingStarted | limitTo:6">
          <span ng-if="section.promoted == true" data-title="Promoted article">★</span>
          <a href="{{section.html_url}}" ng-click="linkClicked(section.title,'blank')"> {{section.title}}</a>
        </li>
      </ul>
      <a class="article-count" href="{{gettingStartedSection.html_url}}" ng-if="gettingStarted.length > 6">See all {{gettingStarted.length}} articles</a>
    </div>
  </section>
  <section class="section section-popular-articles" style="float:right !important;">
    <div class="section-header">
      <a href="{{popularArticlesSection.html_url}}" ng-click="linkClicked(gettingStartedSection.title,'blank')" title="{{popularArticlesSection.description}}">
        <h3 class="article-title">{{popularArticlesSection.name}}</h3>
      </a>
    </div>
    <div class="list-container">
      <ul class="articles-list">
        <li ng-repeat="section in popularArticles | limitTo:6" >
          <span ng-if="section.promoted == true" data-title="Promoted article">★</span>
          <a href="{{section.html_url}}" ng-click="linkClicked(section.title,'blank')"> {{section.title}}</a>
        </li>
      </ul>
      <a class="article-count" href="{{popularArticlesSection.html_url}}" ng-if="popularArticles.length > 6">See all {{popularArticles.length}} articles</a>
    </div>
  </section>
</div>

<!-- Footer -->
<div class="footer_c" ng-include="'views/footer.html'"></div>

<!-- Loader -->
<div class="loader-box" ng-class="(!isDataLoading) ? 'hidden' : ''">
  <img src="images/ring.gif" />
  <p class="info-label i18n" label="please_wait">{{locValues.please_wait}}</p>
</div>

<!-- Support Dialog -->
<div ng-include="'views/support_dialog.html'"></div>

