<!-- Modal -->
<div id="askquestion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Submit a request</h4>
      </div>
      <div class="modal-body">
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
            <label>Type of problem</label>
            <md-select ng-model="user.problem_type">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
      <md-input-container class="md-block">
        <label>Subject</label>
        <input ng-model="user.email" type="email">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="user.biography" md-select-on-focus></textarea>
      </md-input-container>
      </div>
      <div class="modal-footer">
       <md-button md-no-ink class="md-raised md-primary" onclick="moveNext(request_index)">Next</md-button>  
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="ticketRequestReady">Submit</button>
      </div>
    </div>

  </div>
</div>