.container {
    /*max-width: 865px;*/
    /*max-height: 465px;*/

}

.container {
    /*height: 465px;*/
    /*width: 865px;*/
    /*padding-top: 15px;*/
    /*padding-left: 25px;*/
    opacity: 1;
    background-image: url('../images/grid.png'), url('../images/filter_bk.jpg');
    background-repeat: repeat, repeat-y;
    background-size: inherit;
    background-position: center top;
}

.base-container .row .panel {
    background-color: transparent;
}

.base-container .panel-heading {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0px;
    text-align: left;

}

.base-container .panel-body {
    padding: 15px;
    background: #fff;
    color: #000;
}

.cross {
    float: right;
    height: 15px;
    padding-right: 25px;
    cursor: pointer;
    width: 15px;
    padding-top: 10px;
}

.left-container {
    width: 225px;
    display: inline-block;
    float: left;
    height: auto;
}
.vjs-control-bar{
    display: none;
}
.parent-container {
    background: #edecf5;
    box-shadow: 0px -9px 20px -3px rgba(18, 17, 36, 0.75);
    border-radius: 2px 2px 0px 0px;
    width: 815px;
    margin-left: 25px;
    height: 409px;
}

img.filter-logo {
    width: 40px;
    height: 37px;
}

img.theme-image {
    width: 100%;
}

span.theme-title {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    position: relative;
    font-size: 15px;
    color: #000;
    padding: 2px 0px 7px 0px;
    font-family: Roboto-Regular;
}

.theme-container {
    margin: 20px;
    box-shadow: 0px 2px 10px 0px rgba(18, 17, 36, 0.75);
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    margin-top: 0;
}

.select-filter-txt {
    font-family: Roboto-Regular;
    vertical-align: top;
    line-height: 32px;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}

div#themes {
    height: 395px;
    padding-top: 15px;
    overflow-y: scroll;
}

.filter-txt {
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #333655;
    margin-top: 0;
    text-align: center;
}

.main_image-container {
    position: relative;
}

.theme-image-overlay {
    position: absolute;
    top: 0;
    height: 96%;
    left: 0;
    width: 100%;
}

.theme-image-overlay:hover {
    background: rgba(255, 255, 255, 0.20);
}

.theme-image-overlay:active {
    background: rgba(18, 21, 30, 0.20);
}

.right-container {
    display: inline-block;
    height: 315px;
    width: 550px;
    padding: 10px;
    padding-top: 20px;
}

video.game-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
}

.video-wrapper {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: relative;
}

.left-banner-container {
    display: inline;
    float: left;
}

.right-banner-container {
    display: inline;
    float: right;
}

.active.theme-container{
    background-color: #6964ff;
}

.active.theme-container{
    background-color: #6964ff;
    box-shadow: none;
}

.active.theme-container .theme-title{
    color: #ffffff;
    background-color: #6964ff;
}

.footer_btn button {
    float: right;
    border-color: transparent;
    line-height: normal;
    max-width: 100%;
    min-height: 31px;
    font-family: 'roboto-regular';
    color: #fff;
    border-radius: 2px;
    font-size: 0.8em;
    margin: 15px 15px;
    -webkit-box-shadow: 0 2px 10px -6px rgba(120, 73, 231, 0.50),0 8px 6px -6px rgba(20, 21, 40, 0.50);
    -moz-box-shadow: 0 2px 10px -6px rgba(120, 73, 231, 0.50),0 8px 6px -6px rgba(20, 21, 40, 0.50);
    box-shadow:0 2px 10px -6px rgba(120, 73, 231, 0.50),0 8px 6px -6px rgba(20, 21, 40, 0.50);
}
/*.footer_btn button:hover {*/
    /*background:#784ae7;*/
/*}*/

/*.footer_btn button:active {*/
    /*background: #3f3bb8;*/
    /*box-shadow:none;*/

/*}*/
.personalize_text {
    background: #9770f4;
    min-width: 120px;
}

.personalize_text:hover {
    background: #784AE7;
}

.back.personalize_text{
    min-width: 80px;
}
.personalize_text:active {
    background: #5D32C3;
}

.cancel-container {
    background: #6964ff;
    margin-top: 15px;
    min-width: 81px;
}
.cancel-container:hover {
    background: #4C48D2;
}
.cancel-container:active {
    background: #3F3BB8;
}

/*chat box css start*/
div#chat {
    height: 400px;
    width: 200px;
    overflow-y: scroll;
    font-size: 10px;
    background-color: #3C5572;
}

div#chat .emoticon{
    height: 20px;
    width: 20px;
}

.filter-popup-head{
    padding-top: 15px;
    padding-left: 15px;
}