

@font-face {
    font-family: 'Roboto-Light';
    font-weight: 300;
    src: url('http://cdn.bluestacks.com/public/btv/resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url('http://cdn.bluestacks.com/public/btv/resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    src: url('http://cdn.bluestacks.com/public/btv/resources/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    src: url('http://cdn.bluestacks.com/public/btv/resources/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Supercell-Magic';
    src: url('../fonts/Supercell-magic-webfont.ttf');
}

body {
    font-family: "Roboto-Regular";
    font-weight: 500;
    height: 465px;
    width: 865px;
    overflow: hidden;
    margin: 0;
    color: #fff;
}