<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增一个版本</title>
</head>
<body>
<h2>新增BlueStacksKK_DeployTool</h2>
<form action="update_info_edit" method="post">
  <p>last_version: <input type="text" name="last_version" /></p>
  <p>download_url: <input type="text" name="download_url" style="width:920px;" /></p>
  <p>md5: <input type="text" name="md5" /></p>
  <input type="submit" value="Submit" />
</form>

<h2>新增BluestacksCnSetup</h2>
<form action="update_info_edit" method="post">
  <p>last_version_product: <input type="text" name="last_version_product" /></p>
  <p>download_url_product: <input type="text" name="download_url_product" style="width:920px;" /></p>
  <p>md5: <input type="text" name="md5_product" /></p>
  <input type="submit" value="Submit" />
</form>

</body>
</html>