html,
body {
    background: url("../img/backg.png");
    height: 725px;
    overflow: hidden;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

@font-face{
    src:url(../fonts/Logofont.ttf);
    font-family: "Logo";
}

#main {
    background: url("../img/dark-modal-bg.png");
    background-repeat: repeat-x;
    background-size: cover; 
    border-bottom: 1px solid #73E2F7;
    height: 700px;
}

.speaker {
    padding-top: 50px;
    text-align: center;
}

.speaker img {
    height: 194px;
    width: 274px;
}

#main h1 {
    font-weight: normal;
    font-family: "Logo";
    color: #fff;
    padding-right: 6px;
    padding-top: 5px;
}

#main h1 img {
    width: 60px;
    height: 60px;
}

.buttons {
    padding: 0 20px;
}

.buttons > div {
    text-align: center;
}

.button-sound {
    background-color: #0C7CA2;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-top: 57px;
    position: relative;
    width: 24px;
    box-shadow: 0 4px 0 #044D7F;
    -webkit-app-region: no-drag;
}

.button-sound:hover {
    box-shadow: 0 2px 0 #044D7F;
    top: 2px;
}

.button-sound:hover > span {
    top: -42px;
}

.button-sound:active {
    box-shadow: 0 0 0 #044D7F;
    top: 5px;
}

.button-sound:active > span {
    top: -45px;
}

.button-icon {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    left: -2px;
    position: absolute;
    top: -40px;
    width: 30px;
    -webkit-app-region: no-drag;
}

.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.toolbar{
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 70px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}

.grid-visibility {
    background: transparent url('../img/grid.png') no-repeat 4px 4px;
    background-size: 15px 15px;
    right: 8px;
}

.settings {
    background: transparent url('../img/settings.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 250px !important;
} 

.whiteframedemoBasicClassUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
  .whiteframedemoBasicClassUsage md-whiteframe {
    background: #fff;
    margin: 30px;
    height: 100px; }
  @media (max-width: 599px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 7px;
      height: 50px;
      background-color: #c8e4fa; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 20px;
      height: 75px; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 25px;
      height: 100px;
      background-color: #F2FCE2; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 1.0em; } }


div[flex] {
    
}      

div[flex].separator {
    background: transparent;
    width: 20px;
}

.white-bg {
    background: #ffffff;
}

.side-menu {
    background: #f6f6f6;
    overflow-y: auto;
    border-radius: 3px; 
    -webkit-app-region:no-drag;
}

.components-list-item {
    background:#fff;
    border-radius:3px;
    width: 100%;
    border:1px solid #e5e5e5;
    margin-top:8px !important;
    margin-bottom:8px !important;
    transition: all .3s ease-in-out;
}

.components-list-item[draggable="true"] {
    cursor: move;
}

.components-list-item[draggable="false"] {
    cursor: pointer;
}

.components-list-item[draggable="false"]:active {
    cursor: pointer;
    transform: scale(1.1,1.1);
}


.components-list-item[draggable="false"]:active p{
    cursor: pointer;
    color: #fff !important;
    padding: 5px;
    background:#78b1db;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold!important;
    font-size: 0.8em!important;
    -webkit-user-drag:none;

}



.components-list-item[draggable="true"]:hover {
    transform: scale(1.1,1.1);
}

.components-list-item p {
    color: #fff !important;
    padding: 5px;
    background:#adb9cb;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold!important;
    font-size: 0.8em!important;
    -webkit-user-drag:none;
}

.components-list-item label {
    text-align: center;
}

..components-list-item input {
    outline: none !important;
}



canvas {
                -webkit-app-region: no-drag;
                border: 1px solid #ccc;
            }

.md-fab {
    -webkit-app-region: no-drag;
}

.component-thumb {
width:70px;
height:70px;
margin:10px;
}



md-list-item button {
    cursor: move;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    display: none;
    position: absolute;
    bottom:0;
    z-index: 20;
}



