.personalize_body {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    height: 100%;
}

.personalize_body h2 {
    font-family: "Roboto-Light";
    font-size: 13px;
    color: #555467;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 0;
}

.animate-tooltip{
    background-color: #50b2ff;
    width: 234px;
    font-size: 15px;
    font-family: "Roboto-Medium";
    padding-right: 5px;
    right: 55% !important;
    padding-left: 5px;
}

.animate-tooltip p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.warning-icon{
    height: 35px;
    width: 33px;
}

tooltip._bottom tip tip-arrow, tooltip._top tip tip-arrow{
    left: 88% !important;
}

tooltip._bottom tip{
    top: 115% !important;
}

tooltip._bottom tip tip-arrow{
    border-bottom: 6px solid #50b2ff;
}
.personalize_body .theme-container{
    box-shadow: none;
    background-color: #6964ff;
    border-radius: 2px 2px 0px 0px;
    margin-bottom: 10px;
}
.personalize_body span.theme-title{
    background-color: #6964ff;
    color: #fff;
    text-align: center;
    font-family: "Roboto-Light";
}
.personalize_body .personalize_form{
    width: 185px;
    margin: 0 auto;
}
.personalize_body .personalize_form label{
    font-family:Roboto-Medium;
    font-size:13px;
    color:#333655;
    letter-spacing:0px;
    text-align:left;
}
/*.personalize_body .personalize_form span.form_field{*/
    /*float: right;*/
/*}*/
.personalize_body .personalize_form div{
    margin-top: 15px;
}
.personalize_body .personalize_restore button{
    background-color:#9770f4;
    width: 185px;
}

.webcam_status , .chat_status, .animation_status {
    display: inline;
    float: right;
    margin: 0 !important;
    position: relative;
    width: 20px;
}

.webcam_status {
    width: 20px;
    margin: 20px auto;
    position: relative;
}

.webcam_status label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 2px;
    border: 1px solid #6964ff;
}

.webcam_status label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.webcam_status label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.webcam_status input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.webcam_status input[type=checkbox]:checked + label {
    background: #6964ff;
}

.chat_status {
    width: 20px;
    margin: 20px auto;
    position: relative;
}

.chat_status label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 2px;
    border: 1px solid #6964ff;
}

.chat_status label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.chat_status label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.chat_status input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.chat_status input[type=checkbox]:checked + label {
    background: #6964ff;
}

.animation_status {
    width: 20px;
    margin: 20px auto;
    position: relative;
    display: inline;
}

.animation_status label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 2px;
    border: 1px solid #6964ff;
}

.animation_status label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animation_status label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.animation_status input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.animation_status input[type=checkbox]:checked + label {
    background: #6964ff;
}

input[type=checkbox] {
    display: none;
}

.button-container span {
    font-family: Roboto-Medium;
    font-size: 15px;
    display: inline ;
    color: #333655;
    letter-spacing: 0px;
    text-align: left;
}