<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>app page 1</title>
    {% load staticfiles %}
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="../static/js/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>


<body>

<br>
<input type="hidden" id="version_str"  value={{version}}>
<input type="hidden" id="channel_str"  value={{channel}}>
<input type="hidden" id="osver_str"  value={{osver}}>
<form class="form-inline" role="form" action="app_total" method="get">
   <div class="form-group">
      <label class="sr-only" for="name">开始日期:</label>
      <input type="text" class="form-control" id="name" value="{{ start }}" type="text" name="start">
      <label class="sr-only" for="name">结束日期:</label>
      <input type="text" class="form-control" id="name" value="{{ end }}" type="text" name="end">
   </div>
    <select name="version" class="form-control selectbox_version">
      <option value="">版本</option>
        <script>
		var html_version;
        var version_str=$("#channel_str").val();
        //alert(version_str);
		if(version_str=="3.0.0.37"){
           html_version= "<option value=''>版本</option><option value='3.0.0.37' selected>3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
        }else if(version_str=="3.0.0.50"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37'>3.0.0.37</option> <option value='3.0.0.50' selected>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
         }else if(version_str=="3.0.0.52"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52' selected>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
         }else if(version_str=="3.0.0.55"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55' selected>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
         }else if(version_str=="3.0.0.56"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56' selected>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
         }else if(version_str=="3.0.0.57"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55' >3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57' selected>3.0.0.57</option>";
         }else{
             html_version="<option value='' selected>版本</option><option value='3.0.0.37'>3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option>";
        }
		$(".selectbox_version").html(html_version);
        </script>
    </select>
    <select name="channel" class="form-control selectbox_channel">
      <option value="">渠道</option>
     <script>
		var html_channel;
        var channel_str=$("#channel_str").val();
        if(channel_str=="bscn"){
             html_channel="<option value=''>渠道</option> <option value='bscn' selected>bscn</option> <option value='pokemon'>pokemon</option>  <option value='bscn_full'>bscn_full</option> <option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="pokemon"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon' selected>pokemon</option> <option value='bscn_full'>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="bscn_full"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="360gj"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj' selected>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="alading"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading' selected>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="txgj"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj' selected>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="xiazai"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai' selected>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="kdbs"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs' selected>kdbs</option>";
        }else{
             html_channel="<option value='' selected>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option>  <option value='bscn_full'>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }
        $(".selectbox_channel").html(html_channel);
        </script>
    </select>
    <select name="osver" class="form-control selectbox_osver">
      <option value="">操作系统</option>
      <script>
		var html_osver;
        var osver_str=$("#osver_str").val();
        if(osver_str=="5.1"){
             html_osver=" <option value=''>操作系统</option><option value='5.1' selected>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.0"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0' selected>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.1"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1' selected>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.2"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2' selected>6.2</option>";
        }else{
             html_osver=" <option value='' selected>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }
        $(".selectbox_osver").html(html_osver);
        </script>
    </select>
   <button type="submit" class="btn btn-default submit_btn">submit</button>
</form>


<br>
<table class="table table-striped table-hover table-condensed">
  <tr>
      <th>日期</th>
      <th title="APP启动成功用户数">APP启动成功用户数</th>
      <th title="APP启动成功次数">APP启动成功次数</th>
      <th title="APP启动失败用户数">APP启动失败用户数</th>
      <th title="APP启动失败次数">APP启动失败次数</th>
{#      <th title="APP启动成功用户数 / (APP启动成功用户数+APP启动失败用户数)">APP启动成功率</th>#}

    <th title="APP成功安装用户数">APP成功安装用户数</th>
    <th title="APP成功安装次数">APP成功安装次数</th>
    <th title="APP失败安装用户数">APP失败安装用户数</th>
    <th title="APP失败安装次数">APP失败安装次数</th>
    <th title="APP成功安装用户数 / (APP成功安装用户数+APP失败安装用户数)">APP安装成功率(人数)</th>
    <th title="APP成功安装次数 / (APP成功安装次数+APP失败安装次数)">APP安装成功率(次数)</th>
{#      <th>次日留存</th>#}
{#      <th>7日留存</th>#}
    <th title="APP成功下载人数">APP成功下载人数</th>
    <th title="APP成功下载次数">APP成功下载次数</th>
    <th title="APP失败下载人数">APP失败下载人数</th>
    <th title="APP失败下载次数">APP失败下载次数</th>
    <th title="APP成功下载人数 / (APP成功下载人数+APP失败下载人数)">APP下载成功率(人数)</th>
    <th title="APP成功下载次数 / (APP成功下载次数+APP失败下载次数)">APP下载成功率(次数)</th>

    <th title="APP通过下载安装成功人数">APP通过下载安装成功人数</th>
    <th title="APP通过下载安装成功人数次数">APP通过下载安装成功人数次数</th>
    <th title="APP通过下载安装失败人数">APP通过下载安装失败人数</th>
    <th title="APP通过下载安装失败人数次数">APP通过下载安装失败人数次数</th>
    <th title="APP通过下载安装成功人数 / APP成功下载人数">通过下载安装APP的比例(人数)</th>
    <th title="APP通过下载安装成功人数次数 / APP成功下载次数">通过下载安装APP的比例(次数)</th>

{#    <th title="APP通过下载安装成功人数 / (APP通过下载安装成功人数+APP通过下载安装失败人数)">APP通过下载安装成功率</th>#}

{#      <th>APP日均用户使用时长 </th>#}
  </tr>
{% for data in datas %}
    <tr>
        <td>{{ data.result_date }}</td>
        <td>{{ data.daily_user_init }}</td>
        <td>{{ data.daily_user_init_count }}</td>
        <td>{{ data.daily_init_fail }}</td>
        <td>{{ data.daily_init_fail_count }}</td>
{#        <td>{{ data.init_success_rate }}</td>#}

        <td>{{ data.daily_install }}</td>
        <td>{{ data.daily_install_count }}</td>
        <td>{{ data.daily_install_fail }}</td>
        <td>{{ data.daily_install_fail_count }}</td>
        <td>{{ data.install_success_rate }}</td>
        <td>{{ data.install_success_count_rate }}</td>
{#        <td>{{ data.retention_2 }}</td>#}
{#        <td>{{ data.retention_7 }}</td>#}
        <td>{{ data.daily_download }}</td>
        <td>{{ data.daily_download_count }}</td>
        <td>{{ data.daily_download_fail }}</td>
        <td>{{ data.daily_download_fail_count }}</td>
        <td>{{ data.download_success_rate }}</td>
        <td>{{ data.download_success_count_rate }}</td>

        <td>{{ data.daily_install_from_download }}</td>
        <td>{{ data.daily_install_from_download_count }}</td>
        <td>{{ data.daily_install_from_download_fail }}</td>
        <td>{{ data.daily_install_from_download_fail_count }}</td>
        <td>{{ data.download_install_rate }}</td>
        <td>{{ data.download_install_count_rate }}</td>

    </tr>


{% endfor %}
</table>
</body>
</html>
