<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<title>emulator data</title>
    {% load staticfiles %}
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="../static/js/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<style type="text/css">
.pagination{
    float: right;margin:10px}
</style>
<body>
{#<form action="emulator" method="get">#}
{#  开始日期: <input value="{{ start }}" type="text" name="start" />#}
{#  结束日期: <input value="{{ end }}" type="text" name="end" />#}
{#  <input type="submit" value="Submit" />#}
{#</form>#}
<br>
<input type="hidden" id="version_str"  value={{version}}>
<input type="hidden" id="channel_str"  value={{channel}}>
<input type="hidden" id="osver_str"  value={{osver}}>
<form class="form-inline" role="form" action="emulator" method="get">
   <div class="form-group">
      <label class="sr-only" for="name">开始日期:</label>
      <input type="text" class="form-control" id="name" value="{{ start }}" type="text" name="start">
      <label class="sr-only" for="name">结束日期:</label>
      <input type="text" class="form-control" id="name" value="{{ end }}" type="text" name="end">
   </div>
    <select name="version" class="form-control selectbox_version">
      <option value="">版本</option>
        <script>
		var html_version;
        var version_str=$("#version_str").val();
        //alert(version_str);
		if(version_str=="1.0.0.34"){
           html_version= "<option value=''>版本</option><option value='3.0.0.37' selected>3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
        }else if(version_str=="3.0.0.50"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37'>3.0.0.37</option> <option value='3.0.0.50' selected>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }else if(version_str=="3.0.0.52"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52' selected>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }else if(version_str=="3.0.0.55"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55' selected>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }else if(version_str=="3.0.0.56"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56' selected>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }else if(version_str=="3.0.0.57"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55' >3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57' selected>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }else if(version_str=="3.0.0.64"){
            html_version= "<option value=''>版本</option><option value='3.0.0.37' >3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55' >3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64' selected>3.0.0.64</option>";
         }else{
             html_version="<option value='' selected>版本</option><option value='3.0.0.37'>3.0.0.37</option> <option value='3.0.0.50'>3.0.0.50</option> <option value='3.0.0.52'>3.0.0.52</option> <option value='3.0.0.55'>3.0.0.55</option> <option value='3.0.0.56'>3.0.0.56</option> <option value='3.0.0.57'>3.0.0.57</option><option value='3.0.0.64'>3.0.0.64</option>";
         }
		$(".selectbox_version").html(html_version);
        </script>
    </select>
    <select name="channel" class="form-control selectbox_channel">
      <script>
		var html_channel;
        var channel_str=$("#channel_str").val();
        if(channel_str=="bscn"){
             html_channel="<option value=''>渠道</option> <option value='bscn' selected>bscn</option> <option value='pokemon'>pokemon</option>  <option value='bscn_full'>bscn_full</option> <option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="pokemon"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon' selected>pokemon</option> <option value='bscn_full'>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="bscn_full"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="360gj"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj' selected>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="alading"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading' selected>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="txgj"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj' selected>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="xiazai"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai' selected>xiazai</option> <option value='kdbs'>kdbs</option>";
        }else if(channel_str=="kdbs"){
             html_channel="<option value=''>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option> <option value='bscn_full' selected>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs' selected>kdbs</option>";
        }else{
             html_channel="<option value='' selected>渠道</option> <option value='bscn'>bscn</option> <option value='pokemon'>pokemon</option>  <option value='bscn_full'>bscn_full</option><option value='360gj'>360gj</option> <option value='alading'>alading</option> <option value='txgj'>txgj</option> <option value='xiazai'>xiazai</option> <option value='kdbs'>kdbs</option>";
        }
        $(".selectbox_channel").html(html_channel);
        </script>
    </select>
    <select name="osver" class="form-control selectbox_osver">
     <script>
		var html_osver;
        var osver_str=$("#osver_str").val();
        if(osver_str=="5.1"){
             html_osver=" <option value=''>操作系统</option><option value='5.1' selected>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.0"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0' selected>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.1"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1' selected>6.1</option><option value='6.2'>6.2</option>";
        }else if(osver_str=="6.2"){
             html_osver=" <option value=''>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2' selected>6.2</option>";
        }else{
             html_osver=" <option value='' selected>操作系统</option><option value='5.1'>5.1</option><option value='6.0'>6.0</option><option value='6.1'>6.1</option><option value='6.2'>6.2</option>";
        }
        $(".selectbox_osver").html(html_osver);
        </script>
    </select>
   <button type="submit" class="btn btn-default submit_btn">submit</button>
</form>
<br>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>日期</th>
    <th title="当日安装用户数量">日安装用户数</th>
    <th title="累计安装用户数量">累计安装用户数</th>
    <th title="日卸载用户数量">日卸载用户数</th>
{#    <th title="当日安装成功客户端的人里面当日卸载客户端成功的人数 / 当日安装成功客户端的人数">当日卸载率</th>#}
{#    <th title="(当日安装成功客户端且当日卸载成功客户端的人数 + 当日安装成功客户端且次日卸载成功客户端的人数) / 当日安装成功客户端的人数">次日卸载率</th>#}
    <th title="当日引擎安装且(引擎初次启动成功或引擎非初次启动成功但启动成功)的人里面当天卸载客户端的人数">基于引擎的当日卸载率分子</th>
    <th title="等同于基于引擎的次日留存分母">基于引擎的当日卸载率分母</th>
    <th title="当日引擎初始化成功的人里面当天卸载客户端的人数 / 当日引擎初始化成功的人数">基于引擎的当日卸载率</th>
    <th title="当日引擎安装且(引擎初次启动成功或引擎非初次启动成功但启动成功)的人里面次日卸载客户端的人数">基于引擎的次日卸载率分子</th>
    <th title="等同于基于引擎的次日留存分母">基于引擎的次日卸载率分母</th>
    <th title="(基于引擎的当日卸载率分子+基于引擎的次日卸载率分子) / 当日引擎安装成功且启动成功用户数量">基于引擎的次日卸载率</th>
{#    <th title="客户端安装成功的人数/客户端开始安装人数">日安装成功率 </th>#}
    <th title="当日启动成功用户数量">日活跃用户</th>
{#    <th title="当日启动失败用户数量 / 当日所有试图启动的用户数量">启动失败率 </th>#}
    <th title="当日客户端启动成功且次日客户端启动成功人数 / 当日客户端启动成功人数">次日留存</th>
    <th title="当日启动成功且第二日启动成功且第三日启动成功且第四......第七日启动成功的用户数量 / 当日启动成功的用户数量">7日留存</th>
    <th title="当日引擎安装成功且(初次启动成功或非初次启动成功但启动成功)的用户且次日模拟器启动成功的用户数量">基于引擎的次日留存分子 </th>
    <th title="当日引擎安装成功且(初次启动成功或非初次启动成功但启动成功)的用户数量">基于引擎的次日留存分母 </th>
    <th title="当日引擎安装成功且当日引擎启动成功且次日模拟器启动成功用户数量 / 当日引擎安装成功且启动成功用户数量">基于引擎的次日留存</th>

    <th title="当日引擎安装成功且启动成功用户且七日后当天启动客户端的人数 / 当日引擎安装成功且启动成功用户数量">基于引擎的七日留存</th>
    <th title="当日引擎安装成功且启动成功用户且十四日后当天启动客户端的人数">基于引擎的十四日留存</th>
{#    <th title="当日引擎安装成功且当日引擎启动成功且次日模拟器启动成功用户数量(启动用户集不包含初次启动的)">基于引擎的次日留存2分子 </th>#}
{#    <th title="当日引擎安装成功且启动成功用户数量(启动用户集不包含初次启动的)">基于引擎的次日留存2分母 </th>#}
{#    <th title="当日引擎安装成功且当日引擎启动成功且次日模拟器启动成功用户数量 / 当日引擎安装成功且启动成功用户数量(启动用户集不包含初次启动的)">基于引擎的次日留存2</th>#}
    <th title="日均用户启动次数">日均用户启动次数</th>
{#    <th title="日均用户使用时长">日均用户使用时长</th>#}
  </tr>
{% for data in datas %}
    <tr>
        <td>{{ data.date }}</td>
        <td>{{ data.daily_install }}</td>
        <td>{{ data.acc_install_success_user }}</td>
        <td>{{ data.daily_uninstall }}</td>

{#        <td>{{ data.today_uninstall_rate }}</td>#}
{#        <td>{{ data.next_day_uninstall_rate }}</td>#}
        <td>{{ data.engine_first_init_today_uninstall_rate_fenzi }}</td>
        <td>{{ data.engine_first_init_today_uninstall_rate_fenmu }}</td>
        <td>{{ data.engine_first_init_today_uninstall_rate }}</td>


        <td>{{ data.engine_first_init_next_day_uninstall_rate_fenzi }}</td>
        <td>{{ data.engine_first_init_next_day_uninstall_rate_fenmu }}</td>
        <td>{{ data.engine_first_init_next_day_uninstall_rate }}</td>
{#        <td>{{ data.acc_uninstall }}</td>#}
{#        <td>{{ data.install_fail_rate }}</td>#}
        <td>{{ data.daily_user_init }}</td>
{#        <td>{{ data.init_fail_rate }}</td>#}
        <td>{{ data.retention_2 }}</td>
        <td>{{ data.retention_7 }}</td>
        <td>{{ data.retention_engine_2_fenzi }}</td>
        <td>{{ data.retention_engine_2_fenmu }}</td>
        <td>{{ data.retention_engine_2 }}</td>
        <td>{{ data.base_on_engine_retention_7_normal }}</td>
        <td>{{ data.base_on_engine_retention_14_normal }}</td>
{#        <td>{{ data.retention_engine_2_2_fenzi }}</td>#}
{#        <td>{{ data.retention_engine_2_2_fenmu }}</td>#}
{#        <td>{{ data.retention_engine_2_2 }}</td>#}
        <td>{{ data.daily_no_of_session }}</td>
{#        <td>{{ data.daily_user_session }}</td>#}
    </tr>


{% endfor %}

</table>

</body>
</html>
