<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>engine data</title>
    {% load staticfiles %}
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="../static/js/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<style type="text/css">
    
</style>
<body>

{#<form action="engine" method="get">#}
{#  开始日期: <input value="{{ start }}" type="text" name="start" />#}
{#  结束日期: <input value="{{ end }}" type="text" name="end" />#}
{#  <input type="submit" value="Submit" />#}
{#</form>#}
{#<br>#}
<br>
<form class="form-inline" role="form" action="engine" method="get">
   <div class="form-group">
      <label class="sr-only" for="name">开始日期:</label>
      <input type="text" class="form-control" id="name" value="{{ start }}" type="text" name="start">
      <label class="sr-only" for="name">结束日期:</label>
      <input type="text" class="form-control" id="name" value="{{ end }}" type="text" name="end">
   </div>
    <select name="channel" class="form-control">
      <option value="">all</option>
      <option value="bscn">bscn</option>
      <option value="pokemon">pokemon</option>
    </select>
   <button type="submit" class="btn btn-default">submit</button>
</form>
<br>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>日期</th>
    <th title="当日引擎安装并启动成功人数">日安装用户数</th>
    <th title="累计引擎安装并启动成功人数">累计安装用户数</th>
    <th title="当日引擎启动成功人数">DAU</th>
    <th title="当日引擎初次启动人数 / 引擎开始下载人数">下载安装初始化成功率</th>
    <th title="当日引擎安装失败人数 / 引擎开始安装人数">日安装失败率</th>
    <th title="引擎初次启动失败人数 / 引擎安装成功人数">初次启动失败率</th>
    <th title="当日引擎非初次安装且启动失败人数/引擎开始启动人数">启动失败率</th>
    <th title="当日引擎非初次安装且启动成功人数/引擎开始启动人数">启动非成功率</th>
    <th title="开始下载人数">开始下载人数</th>
    <th title="下载成功人数">下载成功人数</th>
    <th title="（开始下载引擎人数 - 下载成功人数）/ 开始下载引擎人数">下载流失</th>
    <th title="安装成功人数">安装成功人数</th>
    <th title="（下载成功人数 - 安装成功人数）/ 下载成功人数">安装流失</th>
    <th title="初次启动成功人数">初次启动成功人数</th>
    <th title="(引擎安装成功人数-首次启动成功人数)/ 引擎安装成功人数">初始化流失</th>
    <th title="初次启动失败人数">初次启动失败人数</th>
  </tr>
{% for data in datas %}
    <tr>
        <td>{{ data.date }}</td>
        <td>{{ data.daily_install }}</td>
        <td >{{ data.acc_install }}</td>
        <td>{{ data.daily_user_init }}</td>
        <td>{{ data.install_success_rate }}</td>
        <td>{{ data.install_fail_rate }}</td>
        <td>{{ data.first_init_fail_rate }}</td>
        <td>{{ data.init_fail_rate }}</td>
        <td>{{ data.init_not_success_rate }}</td>
        <td>{{ data.begin_download }}</td>
        <td>{{ data.download_ok }}</td>
        <td>{{ data.download_ok_div_begin_download }}</td>
        <td>{{ data.daily_install }}</td>
        <td>{{ data.daily_install_div_download_ok }}</td>
        <td>{{ data.first_init }}</td>
        <td>{{ data.first_init_div_daily_install }}</td>
        <td>{{ data.first_init_fail }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
