<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="target-densitydpi=320,width=720,user-scalable=no" name="viewport">
<title>应用中心</title>
<link href="../../static/css/layout.css" type="text/css"  rel="stylesheet"/>
<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/jscroll_search.js"></script>
<script src="../../static/js/cj.js"></script>
<script src="../../static/js/common.js"></script>
</head>

<body  style="overflow:hidden" oncontextmenu="return false;" onselectstart="return false">
<div class="wrap ">
  <div class="appcenter_tab "> <a href="app_center_html" class="appcenter">首页</a> <a  href="app_center_recommend_html" >推荐</a> <a href="app_center_applist_html">排行榜</a> <a href="#" clas>分类</a> <a href="app_center_topic_html">专题</a> </div>
  <div class="appmain_box" id="apprecommend">
    <div class=" gdetailtit catalog_tit "> <a class="catalog_nav on">网游</a> <a class="catalog_nav" >单机</a><a class="catalog_nav" >应用</a> </div>
    <div class="catalog_tab"><span class="on" >全部</span><span >角色扮演</span><span >经营策略</span><span >休闲</span><span >动作冒险</span><span >体育竞技</span><span >飞行射击</span><span >棋牌</span>
      <div class="clear"></div>
    </div>
    <div id="apprecommend_container" >
      <div id="apprecommend_shower"  class="itemM">
        <div class="searchwrap">
          <div class="gamebox catalogbox">
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div><div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
            <div class="searchbox">
              <dl >
                <dt><img src="../../static/images/appcenter/j1.jpg"></dt>
                <dd class="app_name">极品飞极品飞车极品飞车车</dd>
                <dd class="app_type"><span >角色</span></dd>
                <dd class="app_down"><span>654852</span>次下载　</dd>
                <dd class="downloadbtn"><a href="http://www.baidu.com">下载</a></dd>
              </dl>
              <p class="search_des">的开发框架的空间的考的开发框架的空间的考虑非虑非</p>
            </div>
          </div>
          <div class="jzz "><span class="hide2">加载中 . . .</span></div>
        </div>
      </div>
    </div>
    <div id="apprecommend_scroller" class="info_scroller_catalog">
      <div id="apprecommend_scroll_up" class="info_scroll_up"></div>
      <div id="apprecommend_scroll_bar" class="info_scroll_bar3"></div>
      <div id="apprecommend_scroll_down" class="info_scroll_down"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
var appmainscroll=new scrolls('apprecommend');
	$(".catalog_tit a,.catalog_tab span").click(function(){
	$(this).addClass("on").siblings().removeClass("on");
})
</script>
</body>
</html>
