<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="target-densitydpi=320,width=720,user-scalable=no" name="viewport">
<title>应用中心</title>
<link href="../../static/css/layout.css" type="text/css"  rel="stylesheet"/>
<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/ejs_production.js"></script>
<script src="../../static/js/jscroll.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/cj.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a8a8b90e1fe67ff9a45ef9f1fe0047c4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body  style="overflow:hidden" oncontextmenu="return false;" onselectstart="return false">
<input type="hidden" id="tuijianflag"  value={{flag}}>
<div class="wrap ">
  <div class="appcenter_tab "> <a href="app_center_html" class="appcenter">首页</a> <a  href="app_center_recommend_html"  class="on apprecommend" >推荐</a> <a href="app_center_applist_html" class="applist">排行榜</a> <!--<a href="#" class="">分类</a> --> <a href="app_center_topic_all_html" class="">专题</a>
    <div class="gobackbox"><span class="goback" onClick="javascript:history.go(-1)">返回</span><span class="refresh" onClick="location.reload()"></span></div>
  </div>
  <div class="appmain_box" id="apprecommend">
    <div id="apprecommend_container" >
      <div id="apprecommend_shower"  class="itemM">
        <div class="app_con app_recommend no_margin"  >
          <div class="app_conTitle"><a class="app_titleText" id="tjnm"></a></div>
          <div class="app_conbox conbox appgamelist no_margin" >
            <div class="appgamedlbox " id="tuijiangame"> </div>
          </div>
        </div>
      </div>
    </div>
    <div id="apprecommend_scroller" class="info_scroller3">
      <div id="apprecommend_scroll_up" class="info_scroll_up"></div>
      <div id="apprecommend_scroll_bar" class="info_scroll_bar3"></div>
      <div id="apprecommend_scroll_down" class="info_scroll_down"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

var recommend=$("#tuijianflag").val();
var tjnm;
switch (recommend){
	case "selected_game":
	tjnm="精品游戏";
	break;
	case "latest_game":
	tjnm="新品游戏";
	break;
	case "online_game_recommend":
	tjnm="网游推荐";
	break;
	case "console_game_recommend":
	tjnm="单机推荐";
	break;
	case "app_recommend":
	tjnm="应用推荐";
	break;
	}
//console.log(tjnm);
$("#tjnm").html(tjnm);
var urls="/bs/";
var dataresult;
var html;
function gettuijian(){
	var center_url = urls+"app_recommend_data?flag="+recommend;
	$.get(center_url,function(data,status){ 
		
			dataresult=data;
			//console.log("qqqqq"+center_url);
			html = new EJS({url:'../../static/ejs/appgamelist.ejs'}).render(dataresult);
			
			$("#tuijiangame").html(html);
			//console.log("dassdsds"+html);
		
	})
		
}
gettuijian();
var appmainscroll=new scrolls('apprecommend');

window.onresize = function (){
	clearTimeout(timer_loop);
	var timer_loop = setTimeout(function() {
	appmainscroll.resize_scroll();
	}, 10);
}

</script>
</body>
</html>
