<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="target-densitydpi=320,width=720,user-scalable=no" name="viewport">
<title>应用中心</title>
<link href="../../static/css/layout.css" type="text/css"  rel="stylesheet"/>
<script src="../../static/js/jquery-1.11.3.min.js"></script> 
<script src="../../static/js/ejs_production.js"></script>
<script src="../../static/js/jscroll.js"></script> 
<script src="../../static/js/common.js"></script> 
<script src="../../static/js/cj.js"></script> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a8a8b90e1fe67ff9a45ef9f1fe0047c4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body  style="overflow:hidden" oncontextmenu="return false;" onselectstart="return false">
<input type="hidden" id="gameid"  value={{cid}}>
<script type="text/javascript">

var gameid=$("#gameid").val();

//console.log(gameid);
//var gameid=4;
var urls="/bs/";
var dataresult;
var html;
var platform_name;
var loop_width1;
var icon_url;
var screenshot_html="";
function getdetail(plat){

	var center_url = urls+"app_detail_data?cid="+gameid;
	$.get(center_url,function(data,status){
		if(data.success==true){
		   dataresult=data;
		    html = new EJS({url:'../../static/ejs/appgamedetail_baidu.ejs'}).render(dataresult);
		    $(".appgdetailbox").html(html);
	    	$("#detailloop_con").hide();
			$("#detailloop_con").html(screenshot_html);
			var num = $("#detailloop_con").find("img").length;
			$("#detailloop_con").find("img").load(function() {
				num--;
				if (num <= 0) {
					$("#detailloop_con").show();
					detailLoop();
				}
			}) 
			
			$(".icon_url").hide();
			$(".icon_url").attr("src",icon_url);
			$(".icon_url").load(function() {
				$(".icon_url").show();
			}) 
			var _qdhtml="";
		   $("#app_center_id").attr("value",gameid);
		   $("#guid").attr("value","sdsdsdsds");
		  // $("#guid").attr("value",browser2Client('getguid','',''));
			$(".close_popewm").click(function(){
			$(".erweima_pop").hide();
			})
		
		$(".erweima").bind({
			mouseover:function(){$(".erweima_xf").show()},
			mouseout:function(){$(".erweima_xf").hide()},
			click:function(){$(".erweima_pop").show();}
			
			});
		$(".detail_star li").bind({
			mouseover:function(){
				var li_index=$(this).index();
				//alert(li_index);
				for(var i=0; i<=li_index; i++){
					  $(".detail_star li:eq("+i+")").addClass("on");
					}
				},
			mouseout:function(){
				var li_index=$(this).index();
				for(var i=0; i<=li_index; i++){
					  $(".detail_star li:eq("+i+")").removeClass("on");
					}
				},
			click:function(){
				var li_index=$(this).index();
				$(".detail_star li").removeClass("on2");
				var star_score=$(this).attr("data-starval");//最终评分
				for(var i=0; i<=li_index; i++){
					  $(".detail_star li:eq("+i+")").addClass("on2");
					}
				$("#level").attr("value",star_score);
				}
		
		});	
		var appdetailscroll=new scrolls('detailtab0');
		var appdetailscroll1=new scrolls('detailtab1');
	}else{
		html="<p class='search_fail'>游戏详情读取错误</p>";
		$(".appgdetailbox").html(html);
		}		
})

		
}
function detailLoop(){
	if($("#detailloop").find("li").length>0){
		var loopnum1=1;
		var detailloop_container=$("#detailloop").width();
		var li_length=$("#detailloop").find("li").length;
		var li_left=$("#detailloop").find("li").css("margin-left").split("px");
		var li_left_last=li_left[0];
		loop_width1=$("#detailloop li:first img").width();
		$("#detailloop ul").width();
		var move=parseInt(loop_width1)+parseInt(li_left_last);
		var num=parseInt(detailloop_container/move);
		if(li_length==num){
			 $(".arrow_right4").hide();
			}
		$("#detailloop").bind({
			mouseover:function(){
			if(loopnum1<=1){
				if(move*li_length>detailloop_container){
					$(".arrow_right4").show();
					$(".arrow_left4").hide();
				}else{
					 $(".arrow_right4").hide();
					 $(".arrow_left4").hide();
				}
			}else if(loopnum1>li_length-num){
				$(".arrow_left4").show();
				$(".arrow_right4").hide();
			}else{
				$(".arrow_right4").show();
				$(".arrow_left4").show();
			}
				
			},
			mouseout:function(){
			$(".arrow_right4").hide();
			$(".arrow_left4").hide();
			} 
		});		
		$(".arrow_left4").bind({
			mouseover:function(){
				$("#detailloop_con").stop(false,true).animate({left:"+=50"},500); 
			 },
			 mouseout:function(){
				$("#detailloop_con").stop(false,true).animate({left:"-=50"},500); 
			 },
			 click:function(){
					if(!$("#detailloop_con").is(":animated")){	 
					 $("#detailloop_con").stop(true).animate({left:"+="+(move+"px")},500,function (){
							loopnum1--;
							$(".arrow_right4").show();
							console.log("left"+loopnum1);
							if(loopnum1<=1){
							   $(".arrow_left4").hide();
							}
							
					});  
				}
			 }
		});
		
		$(".arrow_right4").bind({
			mouseover:function(){
				$("#detailloop_con").stop(false,true).animate({left:"-=50"},500); 
			 },
			 mouseout:function(){
				$("#detailloop_con").stop(false,true).animate({left:"+=50"},500); 
			 },
			 click:function(){
				if(!$("#detailloop_con").is(":animated")){	
					$("#detailloop_con").stop(true).animate({left:"-="+(move+"px")},500,function(){
						 loopnum1++; 
						 $(".arrow_left4").show();
						// console.log("right"+loopnum1);
						 if(loopnum1>li_length-num){
							 $(".arrow_right4").hide();
						 }
						
					});
				}
			 }
			
		})
		
		$(window).resize(function(){
				//console.log(loopnum1);
				loop_width1=$("#detailloop").find("li").width();
				li_left=$("#detailloop").find("li").css("margin-left").split("px");
				li_left_last=li_left[0]+2;
				move=parseInt(loop_width1)+parseInt(li_left_last);
				if(loopnum1<=1){
					$("#detailloop_con").css("left",0);
				}else{
					$("#detailloop_con").css("left",-(move*(loopnum1-1))+"px");
					}
					  
			})	
	
		}else{
			  $(".arrow_right4").hide();
		 }
	}
getdetail();

</script>

<div class="appgdetailbox">
</div>


</body>
</html>