<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="target-densitydpi=320,width=720,user-scalable=no" name="viewport">
<title>应用中心</title>
<link href="../../static/css/layout.css" type="text/css"  rel="stylesheet"/>
<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/jQuery.md5.js"></script>
<script src="../../static/js/jscroll_search.js"></script>
<script src="../../static/js/cj.js"></script>
<script src="../../static/js/common.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?a8a8b90e1fe67ff9a45ef9f1fe0047c4";
	var s = document.getElementsByTagName("script")[0]; 
	s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body  style="overflow:hidden" oncontextmenu="return false;" onselectstart="return false">
  <div class="appcenter_tab "><a class="appcenter"  href="#"  onClick="browser2Client('closesearch','app_center_html','')">首页</a> <a  href="#"   class=" apprecommend" onClick="browser2Client('closesearch','app_center_recommend_html','')">推荐</a> <a  href="#"  class="applist" onClick="browser2Client('closesearch','app_center_applist_html','')">排行榜</a> <!--<a href="#" class="">分类</a>--> <a  href="#"  onClick="browser2Client('closesearch','app_center_topic_all_html','')">专题</a><!--<input type="text" class="search_input"><a class="search_go" style="font-size:16px" >搜索</a>-->
    <div class="gobackbox"><span class="goback" onClick="browser2Client('closesearch','','')">返回</span><span class="refresh"  onClick="browser2Client('refresh_search','','')"></span></div>
  </div>
  <div class="appmain_box" id="apprecommend">
   <div class="loading"></div>
    <div id="apprecommend_container" >
      <div id="apprecommend_shower"  class="itemM">
        <div class="searchwrap"> 
        <div class="gamebox">
         </div>
          <div class="jzz "><span class="hide2">加载中 . . .</span></div>
         </div>
      </div>
    </div>
    <div id="apprecommend_scroller" class="info_scroller32">
      <div id="apprecommend_scroll_up" class="info_scroll_up"></div>
      <div id="apprecommend_scroll_bar" class="info_scroll_bar3"></div>
      <div id="apprecommend_scroll_down" class="info_scroll_down"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
SearchApp(obj);

/*$(".search_go").click(function(){
	var search_val=$(".search_input").val();
	SearchApp(search_val);
});*/

var index;
var search_flag;
var total_page
var jsondata;
var searchscroll;
var viewportHeight;
var pageHeight;
function SearchApp(obj){
	$(".loading").show();
	$(".gamebox").html("");
	$("#apprecommend_shower").css("top","0");
	$("#apprecommend_scroller").css("top","0");
	searchscroll=new scrolls('apprecommend',obj);
	index=1;
	getsearch(obj);
}
function getsearch(obj){
	stop=true;
	console.log("index1:"+index);
	if(index<=total_page){
		$('.jzz span').show();
	}else{
		$('.jzz span').hide();
	}
	
	var result = make_signature(["query","pageNum","resNum","guid"]);
	$.ajax({
		type: 'GET',
		url: "/bs/search" ,
		data: { "query":obj,
				"guid":"123-abc",
				//"guid":browser2Client('getguid','',''),
				"pageNum":index,    //页数
				"resNum":"16",       //每页数据条数
				signature:result.signature,
				timestamp:result.timestamp
			   },
		success:function(data) {
			if(data.result.search_result.length>0 ){  
				total_page=data.result.total_page;
				console.log("total_page"+data.result.total_page);
					$(".loading").hide();
					if(index<=total_page){
						index++;
							for(var i=0; i<data.result.search_result.length;i++){
								var htmlStr="";
								console.log(data.result.search_result[i].game_name+"——次序"+i);
								htmlStr+="<div class='searchbox' ><dl >";
								if(data.result.search_result[i].platform_name=="百度"){
									htmlStr+="<dt onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><div class='search_shade'></div><img src='"+data.result.search_result[i].icon_url+"'></dt>";
									htmlStr+="<dd class='app_name' onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"'><a  title='"+data.result.search_result[i].game_name+"'>"+data.result.search_result[i].game_name+"</a></dd>";
									htmlStr+="<dd class='app_qd' onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">"+data.result.search_result[i].platform_name+"</dd>";
									if(data.result.search_result[i].download_count){
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span>"+data.result.search_result[i].download_count+"</span>+次下载</dd>";
									}else{
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span></span></dd>";
										}
									htmlStr+="<dd class='app_size' onclick=\"browser2Client('showdetails','app_detail_html?cid="+data.result.search_result[i].cid+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">"+data.result.search_result[i].size+"</dd>";
									if(data.result.search_result[i].icon_url==null||data.result.search_result[i].icon_url==""||data.result.search_result[i].icon_url=="None"){
										var arr_down=['unknown',data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}else{
										var arr_down=[data.result.search_result[i].icon_url,data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}
									htmlStr+="<dd class='downloadbtn'><a onclick=\"browser2Client('installapp','"+arr_down+"','"+data.result.search_result[i].packageName+"');_hmt.push([\'_trackEvent\', \'搜索点击安装\',\'click\'])\">安装</a></dd>";
									htmlStr+="</dl><p class='search_des'>"+data.result.search_result[i].instruction+"</p></div>";
								}else if(data.result.search_result[i].platform_name=="total_360"){
									htmlStr+="<dt onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><div class='search_shade'></div><img src='"+data.result.search_result[i].icon_url+"'></dt>";
									htmlStr+="<dd class='app_name' onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"'><a  title='"+data.result.search_result[i].game_name+"'>"+data.result.search_result[i].game_name+"</a></dd>";
									htmlStr+="<dd class='app_qd' onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">360</dd>";
									if(data.result.search_result[i].download_count){
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span>"+data.result.search_result[i].download_count+"</span>+次下载</dd>";
									}else {
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span></span></dd>";
										}
									htmlStr+="<dd class='app_size' onclick=\"browser2Client('showdetails','app_detail_html?total_360_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">"+data.result.search_result[i].size+"</dd>";
									if(data.result.search_result[i].icon_url==null||data.result.search_result[i].icon_url==""||data.result.search_result[i].icon_url=="None"){
										var arr_down=['unknown',data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}else{
										var arr_down=[data.result.search_result[i].icon_url,data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}
									htmlStr+="<dd class='downloadbtn'><a onclick=\"browser2Client('installapp','"+arr_down+"','"+data.result.search_result[i].package_name+"');_hmt.push([\'_trackEvent\', \'搜索点击安装\',\'click\'])\">安装</a></dd>";
									htmlStr+="</dl><p class='search_des'>"+data.result.search_result[i].instruction+"</p></div>";
								}else{
									htmlStr+="<dt onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><div class='search_shade'></div><img src='"+data.result.search_result[i].icon_url+"'></dt>";
									htmlStr+="<dd class='app_name' onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"'><a title='"+data.result.search_result[i].game_name+"'>"+data.result.search_result[i].game_name+"</a></dd>";
									htmlStr+="<dd class='app_qd' onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">"+qd_CH(data.result.search_result[i].platform_name)+"</dd>";
									if(data.result.search_result[i].download_count){
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span>"+data.result.search_result[i].download_count+"</span>+次下载</dd>";
									}else{
										htmlStr+="<dd class='app_down' onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\"><span></span></dd>";
										}
									htmlStr+="<dd class='app_size' onclick=\"browser2Client('showdetails','app_detail_html?game_library_id="+data.result.search_result[i].id+"','');_hmt.push([\'_trackEvent\', \'搜索点击详情\',\'click\'])\">"+data.result.search_result[i].size+"</dd>";
									if(data.result.search_result[i].icon_url==null||data.result.search_result[i].icon_url==""||data.result.search_result[i].icon_url=="None"){
										var arr_down=['unknown',data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}else{
										var arr_down=[data.result.search_result[i].icon_url,data.result.search_result[i].game_name,data.result.search_result[i].download_url];
									}
									htmlStr+="<dd class='downloadbtn'><a onclick=\"browser2Client('installapp','"+arr_down+"','"+data.result.search_result[i].package_name+"');_hmt.push([\'_trackEvent\', \'搜索点击安装\',\'click\'])\">安装</a></dd>";
									htmlStr+="</dl><p class='search_des'>"+data.result.search_result[i].instruction+"</p></div>";
								}	
								$('.gamebox').append(htmlStr);
							}
					viewportHeight= $("#apprecommend_container").height();
					pageHeight = $("#apprecommend_shower").height();
					if(viewportHeight>pageHeight){
						$("#apprecommend_scroller").hide();
					}
					if(index>=total_page){
						$('.jzz span').hide();
					}
				}
			}else{  
				  var search_fail="<p class='search_fail'>抱歉，没有找到您搜索的相关应用</p>";
				  $('.jzz span').hide();
				  $(".loading").hide();
				  $('.gamebox').html(search_fail);
			}  
		} 
		
	});
	
	window.onresize = function (){
		clearTimeout(timer_loop);
		var timer_loop = setTimeout(function() {
			searchscroll.resizesearch();
		}, 10);
	};
	
}




</script>
</body>
</html>
