bst-hd-zh/Source/Tool/ValidateDotnet/Dll/Debug
bst-hd-zh/Source/Tool/ValidateDotnet/Dll/Release
bst-hd-zh/Source/Tool/ValidateDotnet/Case/bin
bst-hd-zh/Source/Tool/ValidateDotnet/Case/obj
bst-hd-zh/Source/Tool/ValidateDotnet/Exe/Debug
bst-hd-zh/Source/Tool/ValidateDotnet/Exe/temp
bst-hd-zh/Source/Tool/FilterLogs/__pycache__
bst-hd-zh/Source/Tool/FilterLogs/dist
bst-hd-zh/Source/Tool/FilterLogs/FilterLogsExe
bst-hd-zh/Source/Tool/FilterLogs/lib
bst-hd-zh/Source/Tool/FilterLogs/temp