<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <!--<meta http-equiv="Access-Control-Allow-Origin" content="*">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://api.xiuxiu.babadeyan.com/media_root/css/forum/content.css">
    <script src="https://api.xiuxiu.babadeyan.com/media_root/js/jquery-2.1.1.min.js"></script>
    <script src="https://api.xiuxiu.babadeyan.com/media_root/js/forum/iscroll.js"></script>
</head>

<body>


    <header>
        <a class="back">
            <img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/back.png">
        </a>
        <a id="share">
            <img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/share.png">
        </a>
        <a id="c-title">
            {{ post.category_name }}
        </a>
        <!--<input type="hidden" value="{{ user_id }}" id="user_id">-->
        <input type="hidden" id="post_id" value="{{ post.id }}" >
        <input type="hidden" id="category_id" value="{{ post.category_id }}" >
        <input type="hidden" id="start_id" value="{{ start_id }}" />
        <!--<input type="hidden" id="key" value="{{ key }}" />-->
    </header>
    <div class="mask">
        <img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/loading3.png" id="loading">
        <!--<img src="img/loading.gif" id="loading">-->
        <div id="unsuccess">回复不成功</div>
        <div id="unfilled">请填内容</div>
        <div id="unlogin">请登录</div>
        <div id="unzan">操作不成功</div>
        <div id="waiting">请稍候...</div>
        <div id="refresh">刷新中...</div>
    </div>
    <div id="big">
        <img id="bigimg" src="">
    </div>
    <div id="wrapper">
        <div id="scroller">
            <div class="head">
                <div id="pullDown">
                    <span class="pullDownIcon"><img class="pullDownIconImg" src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/loading1.png"></span>
                    <span class="pullDownLabel">下拉刷新</span>
                </div>
                <div class="tie">
                    <div class="usericon">
                        <img src="{{ post.big_user_image }}">
                    </div>
                    <div class="username">
                        <span class="name">{{ post.user_nickname}}</span>
                        <!--<span class="louzhu"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/louzhu.png"></span>-->
                        <span class="louzhu"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/louzhu.png"></span>
                        <span class="pubtime">{{ post.show_time }}</span>
                        {% if post.is_win %}
                            <a  class="gooded" id="zan"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/zan1.png" title="{{ post.id }}"></a>
                        {% else %}
                            <a class="good" id="zan"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/zan.png" title="{{ post.id }}"></a>
                        {% endif %}

                    </div>
                </div>
            </div>


    <div class="content">
        <div class="title">
            {% if post.is_digest %}
                <span class="jing"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/jing.png"></span>
            {% endif %}
            <p>{{ post.title }}</p>
        </div>
        <div class="content-detail">

            {% autoescape off %}
                {% for c in post.content %}

                {{ c|linebreaks }}

                {% ifequal forloop.counter 1 %}
                    {% if post.image1 %}
                        <img class="imgcont" src="{{ post.image1 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 2 %}
                    {% if post.image2 %}
                        <img class="imgcont" src="{{ post.image2 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 3 %}
                    {% if post.image3 %}
                        <img class="imgcont" src="{{ post.image3 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 4 %}
                    {% if post.image4 %}
                        <img class="imgcont" src="{{ post.image4 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 5 %}
                    {% if post.image5 %}
                        <img class="imgcont" src="{{ post.image5 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 6 %}
                    {% if post.image6 %}
                        <img class="imgcont" src="{{ post.image6 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 7 %}
                    {% if post.image7 %}
                        <img class="imgcont" src="{{ post.image7 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 8 %}
                    {% if post.image8 %}
                        <img class="imgcont" src="{{ post.image8 }}">
                    {% endif %}
                {% endifequal %}
                {% ifequal forloop.counter 9 %}
                    {% if post.image9 %}
                        <img class="imgcont" src="{{ post.image9 }}">
                    {% endif %}
                {% endifequal %}
                {% endfor %}
            {% endautoescape %}

            {% ifequal post.content_length 1 %}
                <!--{% if post.image1 %}-->
                    <!--<img src="{{ post.image1 }}">-->
                <!--{% endif %}-->
                {% if post.image2 %}
                    <img class="imgcont" src="{{ post.image2 }}">
                {% endif %}
                {% if post.image3 %}
                    <img class="imgcont" src="{{ post.image3 }}">
                {% endif %}
                {% if post.image4 %}
                    <img class="imgcont" src="{{ post.image4 }}">
                {% endif %}
                {% if post.image5 %}
                    <img class="imgcont" src="{{ post.image5 }}">
                {% endif %}
                {% if post.image6 %}
                    <img class="imgcont" src="{{ post.image6 }}">
                {% endif %}
                {% if post.image7 %}
                    <img class="imgcont" src="{{ post.image7 }}">
                {% endif %}
                {% if post.image8 %}
                    <img class="imgcont" src="{{ post.image8 }}">
                {% endif %}
                {% if post.image9 %}
                    <img class="imgcont" src="{{ post.image9 }}">
                {% endif %}

            {% endifequal %}


        </div>

    </div>
    <div class="zaned"><span>{{ post.win_users_nickname }}</span><span class="goodnum">{{ post.win_users_count }}</span>人赞过</div>

    <div class="comment">
        {% for r in reply %}
        <div class="comment-piece">
            <div class="usericon">
                <img src="{{ r.big_owner_image }}">
            </div>
            <div class="username">
                <span class="name">{{ r.owner_nickname }}</span>
                <span class="floor"><span class="flnum">{{ r.layer }}</span>楼</span>
                <span class="pubtime">{{ r.show_time }}</span>
                <a  class="re"><span>回复<img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/repeat.png"></span></a>
                <input type="hidden" value="{{ r.id }}" id="reply_id"/>
            </div>
            <div class="comment-detail">
                <p>{{ r.content }}</p>
                {% if r.image1 %}
                    <img class="imgcont" src="{{ r.image1 }}">
                {% endif %}
                {% if r.image2 %}
                    <img class="imgcont" src="{{ r.image2 }}">
                {% endif %}
                {% if r.image3 %}
                    <img class="imgcont" src="{{ r.image3 }}">
                {% endif %}
                {% if r.image4 %}
                    <img class="imgcont" src="{{ r.image4 }}">
                {% endif %}
                {% if r.image5 %}
                    <img class="imgcont" src="{{ r.image5 }}">
                {% endif %}
                {% if r.image6 %}
                    <img class="imgcont" src="{{ r.image6 }}">
                {% endif %}
                {% if r.image7 %}
                    <img class="imgcont" src="{{ r.image7 }}">
                {% endif %}
                {% if r.image8 %}
                    <img class="imgcont" src="{{ r.image8 }}">
                {% endif %}
                {% if r.image9 %}
                    <img class="imgcont" src="{{ r.image9 }}">
                {% endif %}
            </div>
            {% if r.parent_reply %}
            <div class="quote">
                <span class="quote-user">{{ r.parent_reply_owner_nickname }}</span>：<span class="quote-con">{{ r.parent_reply_content }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
            <div id="nomore">没有更多内容了</div>
            <div id="pullUp">
                <span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>
    </div>


    <footer>
        <a class="add"><img src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/add.png"></a>
        <div class="input"><input type="text" id="textin" placeholder="回复 楼主：" onblur="relouzhu()" maxlength="3000"  min="1" title="0"/></div>
        <a id="submit">发表</a>
        <div class="img" id="imgcont">
        <a id="add"><img class="newadd" src="https://api.xiuxiu.babadeyan.com/media_root/img/forum/addimg.png"></a>
        </div>
    </footer>

    <script src="https://api.xiuxiu.babadeyan.com/media_root/js/forum/content.js"></script>
</body>
</html>