<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--<meta http-equiv="Access-Control-Allow-Origin" content="*">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>甜品店</title>

    <link rel="stylesheet" href="media/css/regular-prize/dessert.css">
</head>
<body>

<div class="container">
    <div class="title">
        <div id="title-txt">
            <p class="relative">欲罢不能甜品控</p>
        </div>
    </div>
    <div class="info">
        <span class="infotxt">没有什么不开心是吃一份甜品不能解决的</span>
        <span class="infotxt">如果有, 那就吃两份</span>
    </div>
    <div class="content">
        <p class="line-top"></p>
        <p class=txt>法国人最爱的甜点大师，也是马卡龙鼻祖的Pierre Hermé's，他的甜品店将会和<a href="http://www.pierreherme.com/storelocator/world#country-HK">香港丽思卡尔顿酒店</a>合作，整个 8 月在 Café 103 下午茶餐厅，供应系列下午茶。</p>
        <img src="/media_root/img/regular-prize/cakeshop1.jpg">
        <img src="/media_root/img/regular-prize/cake4.jpg">
        <p class=txt>Pierre Hermé’s 的作品素有“甜点中的爱马仕”之称，是很多人甜品迷心中的挚爱。亚洲地区在日本、香港、韩国等有开设门店，香港的前两家店，分别开在了中环 IFC 的商城和尖沙咀的海港城，而第三家店在今年年初选择进驻丽思卡尔顿酒店。</p>
        <p class=txt>本次「Satine」下午茶套餐是由 Pierre Hermé’s paris 负责甜点和饮品等，主要由百香果、香橙和奶油三种材料搭配，热带水果的清香中和了奶油的绵密，找到酸甜的平衡。</p>
        <p class=txt>而酒店行政总厨范秉达 ( Peter Find )设计了几款搭配小食，比如烟鲑鱼黑麦包三文治、蟹籽柠檬瑞士卷……即使香港有其它两家 Pierre Hermé’s paris 门店，条件允许的话，你也一定会更中意在这样的环境里享用一套搭配好的下午茶。</p>
        <img src="/media_root/img/regular-prize/cake5.jpg">
        <p class=txt>而这样的合作其实是东京丽思卡尔顿首先发起的，收效不错之后引入到香港。之前，这酒店还有很多甜品跨界活动，比如最近酒店内的意大利餐馆 Tosca 与法拉利童装系列 Ferrari Junior Collection 推出的红色下午茶——巧克力制作的 F1 方格旗、仿制轮胎等。</p>
        <img src="/media_root/img/regular-prize/cake6.jpg">
        <img src="/media_root/img/regular-prize/cakeshop2.jpg">
        <p class=txt>2013 年还与意大利珠宝品牌 Damiani 合作推出限量下午茶套餐，精致的餐盘里摆放着可食用的十字架吊坠、指环、玫瑰金饰品、橙色钻石等等。</p>
        <img src="/media_root/img/regular-prize/cake7.jpg">
        <p class=txt>英国伦敦的 Berkeley 酒店去年 10 月曾与 Jimmy Choo 合作推出 “The Jimmy Choo Collection” 英式下午茶，其中的甜点大多会以 Jimmy 的 14 年秋冬鞋履和配饰为原型。各种包包和高跟鞋，不管你是甜品控、时尚达人或者 Jimmy Choo 的粉丝，你都可能抵抗不了这种诱惑。</p>
        <img src="/media_root/img/regular-prize/cakeshop3.jpg">
        <img src="/media_root/img/regular-prize/cake9.jpg">
        <p class=txt>而太古集团的<a href="http://www.theoppositehouse.com/en/default">北京瑜舍酒店（The Opposite House）(由日本知名设计师隈研吾设计)</a>，今年春天还和法国高级时装品牌 Lanvin 推出 Love Lanvin 下午茶系列。桌垫、纸巾等都是由 lanvin 巴黎总部来设计，同时还会附赠一个 Lanvin 的购物袋。</p>
        <img src="/media_root/img/regular-prize/cake10.jpg">
        <p class="line-bottom"></p>
    </div>
    <div class="prize">
        <p id="attention" class="shake animated">前方高能! 奖品来袭!</p>
        <p class="line-top"></p>
        <p class="txt">免费送“糖果”来了</p>
        <p class="txt">马上要年底了，给父母带什么礼物呢？ 好纠结啊!</p>
        <p class="txt">不要纠结了！你只需要一个糖果<img class="imginline" src="/media_root/img/regular-prize/candy.jpg"></p>
        <p class="txt">oh 不~ 是“糖果”<img class="imginline" src="/media_root/img/regular-prize/candy1.png"></p>
        <p class="txt">还是不知道这是什么？</p>
        <p class="txt">TA叫“糖果”，是一台血糖仪。</p>
        <p class="txt">不要看TA只有外在，功能也很丰富，</p>
        <p class="txt">可以更加贴心地关注父母健康</p>
        <img src="/media_root/img/regular-prize/pro2.png">
        <p class="txt">轻松测试，准确度高</p>
        <p class="txt">记忆功能，需血量少</p>
        <img src="/media_root/img/regular-prize/pro4.png">
        <p class="txt">还可以跟APP搭档，专属于父母的医疗团队帮他们解疑答惑</p>
        <img src="/media_root/img/regular-prize/pro6.png">
        <p class="txt">全方位顶级照护服务</p>
        <p class="txt">指导父母的健康饮食，合理补充营养，教他们日常护理，更好地防治糖尿病并发症</p>
        <img src="/media_root/img/regular-prize/pro7.png">
        <p class="txt">如此强大贴心的“糖果”，现在我们免费送!</p>
        <p class="txt">快来领走它，送给你的父母！</p>
        <div class="be-in">
            <p class="subtitle">如何参与？</p>
            <p class="txt">A. 点击下方我要报名参加，填写您的信息，方便我们寄送</p>
            <p class="txt">B. 如果喜欢我们的活动, 请毫不犹豫的分享给朋友一起参加。</p>
            <p class="txt">C．活动日期：<span style="font-size: 1.3em; color: #ff9933">2016年2月20日至2月24日</span>。中奖结果会在活动结束后<span style="font-size: 1.3em; color: #ff9933">5</span>个工作日内公布，请大家耐心等待哦！</p>
        </div>
        <a id="im-in">
            我要参加
        </a>
    </div>
    <div class="recommend">
        <p class="line-top"></p>
        <p class="subtitle">往期活动:</p>
        <div class="other">
            <img src="/media_root/img/regular-prize/alice.jpg">
            <div class="othertitle">
                <p class="sub-relative">问什么爱丽丝的梦可以做150年?</p>
            </div>
        </div>
        <div class="other">
            <img src="/media_root/img/regular-prize/berrycake.jpg">
            <div class="othertitle">
                <p class="sub-relative">莓果迷情</p>
            </div>
        </div>
        <div class="other">
            <img src="/media_root/img/regular-prize/tingzi.jpg">
            <div class="othertitle">
                <p class="sub-relative">有个形状奇怪的亭子, 灵感来自折纸艺术</p>
            </div>
        </div>
        <div class="other">
            <img src="/media_root/img/regular-prize/cixiu.jpg">
            <div class="othertitle">
                <p class="sub-relative">刺绣回归:时尚界,i'm back!</p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-bar">
    <img class="icon" src="/media_root/img/regular-prize/footershare.png">
</div>
<!--<script src="media/zepto.min.js"></script>-->
<script>

</script>
</body>

</html>