<div class="navbox">
      <div class="nav"> <a href="app_center_html" class="appcenter">首页</a> <a  href="app_center_recommend_html" >推荐</a> <a href="app_center_applist_html" class="on">排行榜</a> <a href="app_center_topic_all_html">专题</a> </div>
    </div>